[2016-11-02 03:03] AlexandriteErikParacelsus opened #2 "a"
SnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSnipedSniped

[2016-11-02 03:03] AlexandriteErikParacelsus commented on #2
nuuuuu im #2

[2016-11-02 03:03] AlexandriteErikParacelsus commented on #2
damn it

[2016-11-02 03:04] AlexandriteErikParacelsus commented on #2
fokkkk

[2016-11-02 18:11] Jhair2015 opened #3 "Add minions? :)"

[2016-11-02 23:38] AlexandriteErikParacelsus commented on #3
He has minions, but few people can access (included me). He doesn't want to add here because Andrews said that "do not steal my code and stuff" so he keeps it private

[2016-11-03 02:41] Jhair2015 commented on #3
:D great

[2016-11-03 03:27] AlexandriteErikParacelsus commented on #3
He already made the minions, he still fixing some bugs so be patient.

[2016-11-03 03:27] #3 closed

[2016-11-03 08:53] Megabyte918 commented on #3
@Jhair2015 they will be finished, just be patient. You can keep up with the bug fixes [here](https://github.com/Megabyte918/MultiOgar-Edited/projects/1).

It's coming together quite nicely so far, all thats left is those bugs and then I can upload the code to here for everyone to use.

This is what is looks like so far with 600 minions: https://streamable.com/eooe

Sorry if the quality is a little

[2016-11-03 18:54] Jhair2015 commented on #3
Ok no problem :)

[2016-11-03 22:27] Jhair2015 opened #4 "FIx this!!"
Please solve doubles on MultihOgar
Double Splits are fired incorrectly :(

[2016-11-03 23:58] AlexandriteErikParacelsus commented on #4
It appeared there is nothing wrong with double split

[2016-11-03 23:58] #4 closed

[2016-11-04 02:07] Jhair2015 commented on #4
Ok :)

[2016-11-04 10:19] Megabyte918 commented on #4
@Jhair2015 what did you mean?

[2016-11-04 18:01] Jhair2015 commented on #4
@Megabyte918 That the double spaces do not come out correctly, sometimes it comes out very strange, goes out very crooked, if you do not understand Digimelo to make an explanatory video :)

[2016-11-04 19:52] Jhair2015 commented on #4
@Megabyte918 Okay, thanks for taking the time to answer my questions, but is there no way to edit that?

[2016-11-04 20:56] Megabyte918 commented on #4
You can by lowering the splitting speed, changing the normalizedDistance/playerSpeed racio, or editing some stuff in the collision engine a bit, but as for editing the doublesplits while keeping the current settings, theres no way. The doublesplits come with the splitting physics and extrusion force of the cells and it cant be reversed as everything falls into place with vanilla in the current set

[2016-11-05 11:04] PrinceDark9243 commented on #4
@Megabyte918 Can i Test the Minions?

[2016-11-05 14:32] AlexandriteErikParacelsus commented on #4
@PrinceDark9243 maybe, because all the codes are in a c9 workspace, you just need his permissions (I have mine xd)

[2016-11-05 20:30] Jhair2015 opened #6 "Thanks MegaByte!! :) for minions :D"

[2016-11-05 20:40] Fantasy-Agario commented on #6
Yh it took  a while for us (mainly Megabyte) to make it :D

[2016-11-05 20:41] Jhair2015 commented on #6
Yes :)))) is there any way to donate something? : D

[2016-11-05 20:42] Fantasy-Agario commented on #6
Ask @Megabyte918 he should kno

[2016-11-05 22:24] Megabyte918 opened #7 "Minions are here!"
Hello everyone, I'm finally here and happy to say that minions are finally finished!
#### How to use?
- The syntax of the command is `minion [PlayerID] [amount] [name]`
so for example, if I wanted 100 minions with the name <shark>mega, I would do `minion [myID] [100] [<shark>mega]`
- Once you have minions, press Q to activate their controls. Press Q to switch to minion control mode (minion space a

[2016-11-05 22:26] Jhair2015 commented on #7
There is an error,

When I give my friends minions and having mine they give them all to them

SolutionPlz :)

[2016-11-05 22:27] Megabyte918 commented on #6
@Jhair2015 No problem man :), and I don't want anyone to donate to me, I added these minions just because it seemed like it'd be a fun project to do, and it was =D

[2016-11-05 22:30] Megabyte918 commented on #7
@Jhair2015 Yes, I am aware of this bug. Me and @Fantasy-Agario are working on a solution as we speak, but it might not be fixed for a while. See [here](https://github.com/Megabyte918/MultiOgar-Edited/projects/1) or the "Bugs/Glitches" section in my previous comment. It will be updated once it's fixed.

[2016-11-05 23:17] Fantasy-Agario commented on #7
Yes we are indeed :)

[2016-11-06 00:24] Jhair2015 commented on #6
Thaks :)

[2016-11-06 01:52] #6 closed

[2016-11-06 04:47] AlexandriteErikParacelsus commented on #7
@Megabyte918 nice upd8 big boi, ur the new andrews
# ***INSERT ANDREWS TRIGGERING***

[2016-11-06 05:32] nuclearc commented on #7
can you add packets for minion's split and mass ejecting?

[2016-11-06 05:59] NameYT opened #8 "Can you add Pellet Mode On The Minions?"
Plz xD

[2016-11-06 06:26] Megabyte918 commented on #8
What do you mean?

[2016-11-06 06:32] Megabyte918 commented on #7
@nuclearc Hmm.. I can work on it, but why would you need such a thing?

[2016-11-06 07:00] NameYT commented on #8
@Megabyte918 I want Collect Pellet Mode So Bots will collect pellets then they will come to me with mass :)

[2016-11-06 07:00] NameYT commented on #8
The Hotkey is P

[2016-11-06 07:04] Megabyte918 commented on #8
just increase minionStartSize if you want more mass, and you can't use keys such as P on the agario client because it only supports Q, W, and the spacebar

[2016-11-06 07:07] NameYT commented on #8
Make a Extension?

[2016-11-06 07:08] nuclearc commented on #7
maybe some custom clients can add support for that packets

[2016-11-06 07:08] NameYT commented on #8
Like SingaClan u-bot.ml etc they have collect pellet mode also Can you give me a download with MultiOgar That always have perfect popsplit? I cant change the settings

[2016-11-06 07:15] NameYT commented on #8
Also i cant Host This Project on Codeanywhere there is an error :(

[2016-11-06 07:17] ZfsrGhS953 commented on #8
I think he means when you press P, minions turn into normal bots and vice versa. It'll use more CPU, but other than that, looks like it's possible.

[2016-11-06 07:18] NameYT commented on #8
@ZfsrGhS953 I mean when you pressed P The Bots will collect pellets and when you press it again and Press q and space the bot get massed

[2016-11-06 07:20] ZfsrGhS953 commented on #8
Then you need to add bot AI, but only include food cells into minion's visible nodes.

[2016-11-06 07:24] ZfsrGhS953 commented on #7
Can you remove visible nodes calculation from minions? This should increase performance to no lag at 2400 bots [(Petridish Ogar minions)](https://github.com/ZfsrGhS953/Petridish-Ogar)

[2016-11-06 07:25] Megabyte918 commented on #8
Sorry, but I am not making a separate botting extension just for minions to collect pellets on the way to you, nor am I adding it into the current minions. I do not wan't this project to become OgarUnlimited when there's too many features and too many stuff added onto it where it lags like crap when you run minions. I'd like to keep the features minimal, while also not having any useless ones. And

[2016-11-06 07:26] ZfsrGhS953 commented on #7
@nuclearc I noticed your multiogar map flipping feature request and added it into that fork as well

[2016-11-06 07:27] Megabyte918 commented on #8
If many people request that I add the minions collecting pellets feature, I may add it. But right now it just seems like its useless and the extra code would increase lag.

[2016-11-06 07:30] Megabyte918 commented on #7
@ZfsrGhS953 see [here](https://github.com/Megabyte918/MultiOgar-Edited/commit/6f13d5ad90353311f5d4556eb52bb6d5f130b8bc), this solved lots of lag but there still might be some things left to optimize, I'll look into it

[2016-11-06 09:07] Megabyte918 commented on #9
@NameYT For the last time, you did not follow the instructions correctly. You just pasted the code in random places. There is no download for perfect popsplits, you need to download the server and configure the settings to what you like for yourself. If your using this version of multiogar, all you need to do to increase the rate of popsplits working is to mess with the mult/second mult ratio's in

[2016-11-06 09:20] NameYT opened #9 "Is there a download so we can get Popsplit always success? No Fail?"
Hey i tried ur code but it did not work on the This project can u make 1 and send me a download link? it make my server dont work :(

[2016-11-06 09:32] NameYT commented on #8
The bot will only lag if i make them more massed like 99 = 100 mass?

[2016-11-06 09:37] NameYT opened #10 "Cant host this project on Codeanywhere.com / MultiOgar Works There But Why This Project dont?"
![image](https://cloud.githubusercontent.com/assets/20871314/20036624/a8dc6514-a447-11e6-93a0-f4eafad3ceb4.png)
Help!

[2016-11-06 09:40] NameYT commented on #9
@Megabyte918 Cant you just give me the copy of Gameserver.js that change the server and other stuff to the server? That would be easier

[2016-11-06 09:40] Fantasy-Agario commented on #10
### cd into src
then do sudo node index.js

[2016-11-06 09:46] NameYT commented on #10
@Fantasy-Agario I already did it But I tried sudo node index.js and that's the error that came up

[2016-11-06 09:47] NameYT commented on #10
i did cd MultiOgar-Edited/src

[2016-11-06 09:48] Fantasy-Agario commented on #10
no just do cd src

[2016-11-06 09:49] Fantasy-Agario commented on #10
# Not cd MultiOgar-Edited/src

[2016-11-06 09:56] #10 closed

[2016-11-06 09:58] Fantasy-Agario commented on #9
No just because there's no point + if u really want to have 'Perfect Popsplits' u should do it yourself

[2016-11-06 10:06] NameYT commented on #10
k

[2016-11-06 10:07] NameYT commented on #10
![image](https://cloud.githubusercontent.com/assets/20871314/20036749/e4aee4b4-a44b-11e6-8478-ade30482aaec.png)
Dont work :( @Fantasy-Agario

[2016-11-06 10:17] Megabyte918 commented on #10
This is not our problem. It's a problem with codeanywhere.

[2016-11-06 10:20] NameYT commented on #10
@Megabyte918 Oh okay but can you copy the code that was made so we can get a popsplit always success? Just copy the code i really messed up on the server config so i have to install again :(

[2016-11-06 10:22] Fantasy-Agario commented on #10
Well ,just install it again :) @NameYT

[2016-11-06 10:23] NameYT commented on #10
@Fantasy-Agario Do you know how to get a popsplit awlays success full no fail srry for bad englsih

[2016-11-06 10:25] Fantasy-Agario commented on #10
Yes , have one person/minion or bot (Needs to be roughly half the size Example : Player1 = 3000 mass Player2 = 1500 mass) near a virus , then double split

[2016-11-06 10:26] NameYT commented on #10
@Fantasy-Agario By Changing a settings :)

[2016-11-06 10:27] Fantasy-Agario commented on #10
I'll play around with them just give me 2 mins :D

[2016-11-06 10:28] NameYT commented on #10
@Fantasy-Agario Changing Gameserver.js and PlayerCell.js @Megabyte918 Know that but he wont give me the code :p so i can just paste it

[2016-11-06 10:35] Fantasy-Agario commented on #10
Ok , i can't exactly give u perfect popsplits but i can start work on a feature that allows you to get popsplits right more often :) @NameYT

[2016-11-06 10:35] ZfsrGhS953 commented on #7
The goal of the test was to run 5000 minions and measure performance.
**Node.js v7.0.0**
Top: /Megabyte918/MultiOgar-Edited
Bottom: /ZfsrGhS953/Petridish-Ogar
![a](http://i.imgur.com/CtI0YPm.jpg)
Results of the test:
/Megabyte918/MultiOgar-Edited: Vanilla client doesn't have a FPS counter,but it's about 5 at the beginning. Didn't test the part where I grew to 100k+ mass and started splitting minio

[2016-11-06 10:39] NameYT commented on #10
@Fantasy-Agario Okay Thanks where is it then lol xD

[2016-11-06 10:40] Fantasy-Agario commented on #10
I said :

# "i can start work"

[2016-11-06 10:41] NameYT commented on #10
@Fantasy-Agario **Okay contact me If its done xD**

[2016-11-06 10:43] Fantasy-Agario commented on #10
Ok , it might take a while as I'm currently working on My version of Ogar [()](https://github.com/FantasyArts/Ogar-Remastered)

[2016-11-06 10:44] NameYT commented on #10
@Fantasy-Agario The Popsplit will never fail?

[2016-11-06 10:46] NameYT commented on #10
@Fantasy-Agario https://github.com/Barbosik/MultiOgar/issues/333 This is what im talking about :p @Megabyte918  Made somjething in the comments

[2016-11-06 10:46] Fantasy-Agario commented on #10
Not never as that will cause some bugs in splitting and viruses , but it will definitely increase the chance :D

[2016-11-06 10:47] NameYT commented on #10
@Megabyte918 Its not working i tried all your code but sometimes it still fail

[2016-11-06 10:48] Fantasy-Agario commented on #10
You might just have to start training ur popsplits m8 XD

[2016-11-06 10:49] NameYT commented on #10
@Fantasy-Agario Already started M8

[2016-11-06 10:52] Fantasy-Agario commented on #10
You gotta :
# Eat Sleep n Shit Popsplits - Jinx 2015

[2016-11-06 10:57] NameYT commented on #10
http://agar.io/?ip=sambyonweed-samby6667851.codeanyapp.com:3000 @Fantasy-Agario Try Joining

[2016-11-06 10:58] Fantasy-Agario commented on #10
I'm in

[2016-11-06 11:06] NameYT commented on #10
@Fantasy-Agario Pro lol xD

[2016-11-06 11:08] Fantasy-Agario commented on #10
Ikr :D

[2016-11-06 11:17] NameYT commented on #10
@Fantasy-Agario SEND ME THE DOWNLOAD LINK IF YOUR DONE on my skype or something : Skype : Gian Sambayan

[2016-11-06 11:23] NameYT opened #11 "Add </random> Bot Skins That Might Be Usefull and fun"
Like OgarUL they have </random> skins with bots maybe that's usefull?

[2016-11-06 11:31] t11tanYT opened #12 "BUG"
If i give minions for friend, later for me all bots start coming to me! and no bots for friend! fix please!

[2016-11-06 11:34] NameYT commented on #12
They are fixing on it :) That's the bug

[2016-11-06 11:34] NameYT commented on #12
**# For now 1 Person Can control the bots on a time :)**

[2016-11-06 11:36] t11tanYT commented on #12
i know, i dont read this)

[2016-11-06 11:43] Fantasy-Agario commented on #12
This has been noted in [Issue #7](https://github.com/Megabyte918/MultiOgar-Edited/issues/7)

[2016-11-06 11:45] #12 closed

[2016-11-06 11:45] #9 closed

[2016-11-06 11:46] Fantasy-Agario commented on #11
Ok , i'll try to do that :D

[2016-11-06 14:26] agariotips opened #13 "How to spawn in with the minions?"
I mean, when you start the server, you don't have to do minion (id) (amount) for every player. (over 112 ould be horrible), is it possible to make it so when they join the game, minions start spawning for them without me having to manually do it? If so, how?

[2016-11-06 16:23] AlexandriteErikParacelsus commented on #13
Yeah it's possible, we need someone to develop it.

[2016-11-06 16:24] AlexandriteErikParacelsus commented on #11
@Fantasy-Agario good luck

[2016-11-06 16:28] AlexandriteErikParacelsus commented on #7
@ZfsrGhS953 me and megabyte often test our minions on astr.io client, so lag isn't a problem on astr.io

[2016-11-06 16:35] RelTakeover opened #14 "Features for minions"
please make a minion to use with E AND R like ogarUL , with "q" is sooo hard

[2016-11-06 16:36] RelTakeover opened #15 "plugins like ogarul"
Hello you can make a plugin for minions called "superminion" like ogarUL ? and spawnmass per player ?

[2016-11-06 17:01] Megabyte918 commented on #10
@Fantasy-Agario replace all of the code in your Virus.js to this one: http://pastebin.com/XkfXNmtE
To change the success of popsplits, you need to edit the "mult" variable. The value of mult on lines **54** and **57** is what you need to edit. I'm not sure which values exactly give 100% working popsplits though, that you will need to figure out for yourself. Experiment with those numbers until you

[2016-11-06 17:04] Megabyte918 commented on #13
I will work on this once the "only 1 person can control minions at a time" bug is fixed.

[2016-11-06 17:09] AlexandriteErikParacelsus commented on #15
We don't want lags like OgarUL and we don't want to copy the AJS-development stuff

[2016-11-06 17:09] #15 closed

[2016-11-06 17:10] AlexandriteErikParacelsus commented on #14
agario client doesn't support E and R and we don't have our own client

[2016-11-06 17:10] #14 closed

[2016-11-06 17:13] AlexandriteErikParacelsus commented on #9
@Fantasy-Agario good point

[2016-11-06 17:38] Megabyte918 commented on #14
I'll see what I can do about the server sending minions split/eject packets so you can use E&R on separate clients, I'm not very experienced with working with packets or client-sided stuff, but I'll try

[2016-11-06 18:37] Fantasy-Agario commented on #13
@Megabyte918 This could be made like the plugin IpBots by LegitSouja ,
Note down the ip in a config file ,
Server gets that file and gives minions to the ip Everytime that IP (player) connects :)

[2016-11-06 23:48] Megabyte918 commented on #7
@ZfsrGhS953 thanks man, same to you with yours :)
Oh and btw, are we talking just FPS comparisons or update time comparisons? If its FPS then it depends on the client

[2016-11-07 00:50] RelTakeover opened #16 "Minions to all"
make a "gamemode" that gives minions to all like alis.io

[2016-11-07 01:29] Jhair2015 commented on #16
@RelTakeover  That's where they are @Megabyte918 - @Fantasy-Agario , They work great for making that gameplay! :)

[2016-11-07 02:01] Megabyte918 commented on #16
@RelTakeover that sounds cool, but I think it would be better having configs for it rather than a whole gamemode. And the only way this would work is if the "only 1 person can have minions" bug is fixed, which it isn't yet, so just be patient and maybe after it's fixed I'll work on it :)

[2016-11-07 07:05] Chancerst opened #17 "Some Bug!"
First of all, Thank you for working to continue this project :D

![default](https://cloud.githubusercontent.com/assets/19770308/20049032/deab0986-a503-11e6-8c65-8410148c1c9e.PNG)
The latest Version had some bug.

[2016-11-07 07:13] ZfsrGhS953 commented on #7
FPS comparisons. Vanilla client is written in asm.js which causes more lag, from things such as performing an operation on a double, converting it to int, converting it back to double and storing it.

[2016-11-07 07:16] Firekix opened #18 "Skins!!!!"
Agar.io updated again...... Cant see our skin, Others can see them....
Is their anything that can be done to see our skin in game....

Anyways Tnx For adding Minions

[2016-11-07 09:17] NameYT commented on #10
@Megabyte918 I Edited it but where can i find the mult?

[2016-11-07 09:28] NameYT opened #19 "Make the minions control E and R? Like Ogar UL"
Is it possible?

[2016-11-07 09:43] PrinceDark9243 commented on #19
Dude Vanilla Agar.io Does not support E and R key or any other key it only support W,Space and Q!

**CLOSE THIS ISSUE**

[2016-11-07 09:45] PrinceDark9243 commented on #17
Dude You are Running Ogar Ul!

[2016-11-07 11:12] t11tanYT opened #20 "IDEA FOR MINIONS"
1: PULLET MODE (bots collect pullets)
2: stop move bots (stop move for bots)
3: invert bots (like www.raga.pw)
4: time for bots connect (new setting) (no all bots in 1 second)
5: disconnecting bots (new setting) (for more realistic)
6: mass for bots (i can give for friend 10 mass bots and for me 43 mass bots)
7:unlimited names for minions (like bots)
8:random mass bots (new setting) (for more real

[2016-11-07 11:37] ZfsrGhS953 commented on #7
Also, there's another problem on testing Petridish-Ogar on astr.io client. It doesn't support Petridish-Ogar, because protocol 4,5,6 support was removed - they all use up too much bandwidth. So a [custom protocol](https://github.com/ZfsrGhS953/Petridish-Ogar/blob/master/Ogar/src/packet/UpdateNodes.js) was developed to save bandwidth.

[2016-11-07 16:18] Fantasy-Agario commented on #20
So i saw your ideas and i think they're pretty good here's the response (s)

1: Pellet Mode is not a bad idea , but we need to finish fixing bugs first :)
2: Stop Move is pretty hard to make as the agario client only supports Q as a key to switch controls n shit
3:  Define 'Invert Bots'
4: A time for bots to connect would be easy to implement , also it would reduce lag :)
5: Define 'Disconnecting

[2016-11-07 16:33] Fantasy-Agario commented on #19
Like @PrinceDark9243 said,
Vanilla agario client doesn't support the keys E and R , although we could make an extension that allows you to use those keys , it would be hard .

[2016-11-07 16:33] #19 closed

[2016-11-07 16:34] Fantasy-Agario commented on #18
Well , you can use different clients that let you use skins :)

[2016-11-07 16:34] #18 closed

[2016-11-07 16:38] Fantasy-Agario commented on #17
Its fixed now :)

[2016-11-07 16:38] #17 closed

[2016-11-07 16:40] Fantasy-Agario commented on #16
@Megabyte918 I could possibly write a gamemode if u like :)
+ The Files Minion Loader & Minion Socket were missing from the Repo so I added them back

[2016-11-07 17:31] Fantasy-Agario opened #21 "CLIENTS"
# Clients

I Have put together a list some of clients **Compatible** with **MultiOgar-Edited**
#### **TIP: Add : '/?ip=127.0.0.1:443' or '?ip=ip:port' at the end of the url of the client to connect to a server**

## All urls connect to `:127.0.0.1:443`

* [Astr.io](astr.io/?ip=127.0.0.1:443) | A really smooth client we also use this one for testing
* [Agar.io](agar.io/?ip=127.0.0.1:443) | We do no

[2016-11-07 18:00] Jhair2015 commented on #21
Alis.io is available with console :/ and not found minimap!

[2016-11-07 18:38] Fantasy-Agario commented on #21
What do u mean 'with console' :D

[2016-11-07 20:00] Jhair2015 commented on #21
@Fantasy-Agario  Lol ha ha I did not work to put alis.io/?ip=miip:port

Now if they work, sorry for the inconvenience :)

[2016-11-07 20:03] Jhair2015 commented on #21
@Fantasy-Agario  One more question, it is possible to host my server without needing my router or codeanywhere, nitrous.io, etc.

I want to make one 24/7 with servegame.com or http://bit.ly/2ePc5UZ

[2016-11-07 20:04] Fantasy-Agario commented on #21
u still need to port forward

[2016-11-07 20:09] Jhair2015 commented on #21
@Fantasy-Agario I try to do it, but my router is not compatible, I have seen many tutorials, etc and nothing! :/

[2016-11-07 20:16] Fantasy-Agario commented on #21
yh same here

[2016-11-07 20:17] Fantasy-Agario commented on #21
# ALSO

Ip = 127.0.0.1
port = 433
weird part separating them = ':'
game alis.io
ip + weird part separating them + port = alis.io/?ip=127.0.0.1:443
443

[2016-11-07 20:40] agariotips commented on #13
@Fantasy-Agario Yeah, something like that would be very nice :)

[2016-11-07 21:06] Megabyte918 commented on #10
@NameYT Please read my entire comment before asking a question

[2016-11-07 21:59] Jhair2015 commented on #21
Mmm ... I will see my router again and send captures! :) thanks for your attention: D

[2016-11-08 00:02] AlexandriteErikParacelsus commented on #21
@Fantasy-Agario I having trouble to connecting to alis.io client

[2016-11-08 00:08] AlexandriteErikParacelsus commented on #20
@Fantasy-Agario
3: Probably switch bot mode to into cell and into mouse
5: Probably he means by when remove the minion, the minions would stop following us and stay afk (like a disconnected person)
7: He wants unlimited characters for minion's name

[2016-11-08 01:44] Megabyte918 commented on #20
@t11tanYT added, along with support for E and R keys. press T to freeze minions (only works on clients that support the T key)

[2016-11-08 01:50] Megabyte918 commented on #19
@NameYT added

[2016-11-08 01:51] Megabyte918 commented on #14
@RelTakeover It has been implemented.

[2016-11-08 04:10] RelTakeover opened #22 "skin"
i cant use skins on ogarUL CLIENT <SKIN> , WHY?

[2016-11-08 04:27] systemroot opened #23 "rlly awesome"
just i want to say thank you i was trying to add minions a log time ago but idk what i was doing i'm not good with nodejs. so thank you alot <3
*you can close this after u read.*

[2016-11-08 04:32] RelTakeover opened #24 "SKINS"
i cant use skins on ogarUL CLIENT <SKIN> , WHY?

[2016-11-08 04:59] RelTakeover opened #25 "help me to make a selector to servers"
anyone can help me to make a selector of servers for the index of ogarul client

[2016-11-08 06:01] #24 closed

[2016-11-08 06:01] #22 closed

[2016-11-08 06:02] AlexandriteErikParacelsus commented on #25
Why are you asking us problems about OgarUL client?

[2016-11-08 06:02] #25 closed

[2016-11-08 06:03] Megabyte918 commented on #24
@RelTakeover This is a client sided problem, not related to this fork of multiogar. I cannot fix this as I am not the owner of the OgarUL client, if you really want skins go ask about it on the OgarUL forums.

[2016-11-08 06:06] #16 closed

[2016-11-08 06:09] AlexandriteErikParacelsus commented on #23
@Megabyte918 m9 u have a fan over here xddddddddddddddddddddddddddddddddddddddddd

[2016-11-08 06:09] #23 closed

[2016-11-08 06:12] AlexandriteErikParacelsus commented on #24
lmao wtf is this cancer

[2016-11-08 06:15] AlexandriteErikParacelsus commented on #22
I am so triggered because of you right now

[2016-11-08 06:15] Megabyte918 commented on #23
@systemroot No problem man :) Its nice to see people like you every once in a while, made my day!

[2016-11-08 10:26] NameYT opened #26 "I still dont get Perfect Popslit like / Popsplit with any mass like that? Help"
I need some help Paste the code like Gameserver.js like that or something i wanna do a same size and practice my popsplit but it always fail how to fix it?

[2016-11-08 10:28] NameYT commented on #19
@Megabyte918 @Fantasy-Agario Make me the extension for the Minions that woudl be great i will make vids to promote this best project :)

[2016-11-08 11:04] t11tanYT opened #27 "TEAMING BOTS"
PLEASE

[2016-11-08 14:44] RelTakeover opened #28 "I CANT USE SKINS"
I CANT USE SKINS BECAUSE YOUR MULTIOGAR IS NOT COMPATIBLE

ZfsrGhS953 SAID ME :+1:

Ogar Unlimited client uses protocol 4, which doesn't support custom skins of MultiOgar-Edited. They are only supported for protocols 5 and 6. This is off-topic (please post in https://github.com/AJS-development/OgarUL-Client/issues and https://github.com/Megabyte918/MultiOgar-Edited/issues ), so I'll close this iss

[2016-11-08 15:00] PrinceDark9243 commented on #7
Bug or Anything Else:
I added 200 bot the when i eject mass bots are spawning quickly.

[2016-11-08 18:16] Megabyte918 commented on #7
@PrinceDark9243 it is not a bug. it's caused by the chance of players to be spawned from ejected mass, you can turn it off by changing the `ejectSpawnPlayer` config  to 0 or changing the chance of them spawning from it in GameServer.js [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L756)

[2016-11-08 18:19] Megabyte918 commented on #26
@NameYT please do not make duplicate issues, they will be closed or it could result in a ban. Follow my instructions in #10 and you will be fine, its not that hard all you need to do is change two numbers.

[2016-11-08 18:19] #26 closed

[2016-11-08 18:47] Megabyte918 commented on #28
@RelTakeover

Same goes for regular MultiOgar, I cannot change the protocol or make it support skins as I am not the owner of the client. Again, this is not a problem with the server it's the client you are using, so I can't help you. Please take this over to the OgarUL forums and ask the owners if you really want skins.

[2016-11-08 18:50] Megabyte918 commented on #28
Also, do not make duplicate issues. They will be closed or It could even result In a ban. This is your 7th issue on this project, half of which are already duplicates. I really don't want to have to start banning people, but if you keep it up I will. If you have any issues regarding the previous issues you made, post your question on those issues, don't just make a new one every time.

[2016-11-08 18:50] #28 closed

[2016-11-08 18:55] Jhair2015 opened #29 "Help Me!! for map food"
Can you tell me what is the correct setting for the food on the map! :)

The default setting gives me some lag in codeanywhere and is not the most similar to Vanilla : /

[2016-11-08 18:55] Megabyte918 commented on #27
The bots are fine as they are, I will try to make them smarter in the future (splitting when they are big and other things), but teaming I cannot do. It would increase lag and CPU usage by a ton due to all the calculations you would need to make them team (splitrunning and all that). Also, this is an OgarUnlimited feature, which is partially the reason why its so laggy, so I am not going to add it

[2016-11-08 18:55] #27 closed

[2016-11-08 19:12] Megabyte918 commented on #10
@NameYT https://streamable.com/doat
is that clear enough for you? lol

[2016-11-08 19:19] Jhair2015 opened #30 "How to connect to my server on Ogario! :)"
Hey Megabyte!

I want to know how to connect to my server with this extension! :)

http://cdn.ogario.ovh/v3/ogario.v3.user.js

Is the Ogario V3, every time I enter with my server, the link is modified, I tried to put in the console of agar.io connect (ws ....) and also core.connect (ws // ...)

[2016-11-08 19:43] Megabyte918 commented on #29
@Jhair2015 try changing the `foodSpawnAmount` config to 1000, looked pretty vanilla to me. But the more food that spawns the more lag there will be.

[2016-11-08 19:43] systemroot commented on #30
delete this
[code]
then connect as normal http://agar.io/?ip=IP:PORT

[2016-11-08 20:50] Jhair2015 commented on #30
@systemroot  Thanks

[2016-11-08 20:51] Jhair2015 commented on #29
mmm... ok THX!:)

[2016-11-08 21:34] #30 closed

[2016-11-08 21:34] #29 closed

[2016-11-08 22:49] Fantasy-Agario commented on #21
Yh , np i'm here to help :)

[2016-11-08 22:52] Fantasy-Agario commented on #20
@AlexandriteErikParacelsus Oh ok

So @t11tanYT

If the bots stoped after following the player it would cause lag ,

I think u can have unlimited characters (Look in the Gameserver.js file)

[2016-11-08 23:17] Jhair2015 commented on #21
:D

[2016-11-09 02:39] Megabyte918 commented on #11
I can't do it :/
4 hours of trying to implement this, fix after fix, bug after bug, error after error, it never worked. No matter what I tried. Who knew something as simple as having the skins be selected randomly from 1 file with a list of them like botnames.txt, could be so difficult :/
I tried, If you want to continue working on it @Fantasy-Agario, then by all means continue.
@NameYT I'm going

[2016-11-09 02:39] #11 closed

[2016-11-09 03:05] Megabyte918 commented on #20
1.) #8
2.) added.
3.) whats the point when they can follow the mouse?
4.) why? whats the point?
5.) Change [this](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/ai/MinionPlayer.js#L31) line in /ai/MinionPlayer.js to `this.frozen = true;`
6.) What Fantasy said
7.) you can already have unlimited characters by setting their name with the command.
8.) What Fantasy said

[2016-11-09 09:48] NameYT commented on #10
@Fantasy-Agario The Mult i tried 0 but crashed lol gimmeeeeeeeeeeeeee the number for perfect i tried it

[2016-11-09 10:28] RelTakeover opened #31 "can eat"
please make the game that i can eat balls in the map  bigger than myself

[2016-11-09 10:32] RelTakeover opened #32 "the rebound"
the rebound when i spacing is too excessive

[2016-11-09 11:01] RelTakeover opened #33 "this loop work?"
for (var z = 0; z < 2; z++) {

}

for better splits ?

[2016-11-09 12:16] PrinceDark9243 commented on #7
ok

[2016-11-09 15:42] RelTakeover opened #34 "how to.."
how to decrease the virus explosion distance?

[2016-11-09 19:10] systemroot opened #35 "how to put sub'domain for gametrackers."
how do they get my server ip?!
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L1767

here i can see port, name etc. but what about ip. what if i want to put a subdomain !? can this happen?!

[2016-11-09 20:02] Megabyte918 commented on #10
@NameYT

[2016-11-09 20:03] Megabyte918 commented on #33
@RelTakeover
1.) splits are fine as they are
2.) that loop doesnt mean anything

[2016-11-09 20:03] #33 closed

[2016-11-09 20:15] Fantasy-Agario commented on #33
@RelTakeover @Megabyte918 You can adjust split speed in the gameserver.ini file :D

[2016-11-09 20:17] Fantasy-Agario commented on #31
Edit the code yourself @RelTakeover

[2016-11-09 20:17] #31 closed

[2016-11-09 21:02] systemroot commented on #35
i'm closing this here i'll try to ask Barbosik

[2016-11-09 21:02] #35 closed

[2016-11-09 21:25] Megabyte918 commented on #35
What do you mean by subdomain? If you want to add a tracker, try adding the domain and all the other info you need for your tracker, under all the other tracker's info
For example:
<pre>
// custom tracker
trackerRequest({
        host: 'tracker.link',
        port: trackerport,
        path: '/trackerpath',
        method: 'POST'
}, 'application/x-www-form-urlencoded', data);
</pre>
If you don't h

[2016-11-09 21:28] Megabyte918 commented on #32
I don't know what your talking about, it looks the same as vanilla to me. But if you would like to change the splitspeed you can do so [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L1236)

[2016-11-09 21:39] systemroot commented on #35
no,

as you can see on gametrackers they have their ip's in public,
so just i want to replace my ip:port with domain:port
i have try to put domain name into serverBind, but isn't starting! even if i put vps ip won't start is needed to let as it is 0.0.0.0

[2016-11-09 22:42] Megabyte918 commented on #35
@systemroot try using a DNS to hide your ip instead

[2016-11-10 01:32] Megabyte918 commented on #34
@RelTakeover either lower the splitspeed located [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L1236),
or increase/decrease the playerSpeed/normalizedDistance ratio:
playerSpeed: [manual](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/entity/Cell.js#L87) or [config](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/gameserver.in

[2016-11-10 02:31] #34 closed

[2016-11-10 02:31] #32 closed

[2016-11-10 04:04] Firekix opened #36 "Update Command"
Hey can you guys add a update command to MultiOgar(like in OgarUl).... It would be more better tat way..

(*Popsplits* are working good........ Appreciate ur work....)

[2016-11-10 05:34] AlexandriteErikParacelsus commented on #36
@Megabyte918

[2016-11-10 05:38] Megabyte918 commented on #36
@Firekix https://github.com/Barbosik/MultiOgar/issues/86

[2016-11-10 05:39] #36 closed

[2016-11-10 05:45] Firekix commented on #36
Ok Thats fine.... Thanks For your attention

[2016-11-10 07:43] Megabyte918 commented on #32
@RelTakeover @PrinceDark9243 nevermind, I took another look at it and compared and it actually WAS a bit fast. I reverted my changes of the normalizedDistance and playerSpeed, the splitting should be fine now. Thank you for pointing it out =D

[2016-11-10 09:11] NameYT commented on #20
@Megabyte918 add </random> skins for bots and for minion that would be great :)

[2016-11-10 10:38] RelTakeover opened #37 "i have a issue"
i have this ( i want set playerDecayRate according the players online ) could you add this ? or help me..

if (humans > 10) {
			playerDecayRate: .0035;

	}

else if (humans > 20) {

	playerDecayRate: .0055;

}
else {

	playerDecayRate .0075;
},

is correct or what :(

[2016-11-10 20:04] Jhair2015 opened #38 "Hey @Megabyte918 !"
Hey @Megabyte918 !

Hahaha this is somewhat inconvenient for you! eur-lex.europa.eu eur-lex.europa.eu

But I would say a configuration with playerspeed or something, I remember he said it to me recently, but I can not find the notepad in which I save it :(

Please! :)

THANK YOU FOR BEING SO HAPPY TO US <3

[2016-11-10 20:22] Megabyte918 commented on #20
@NameYT You can do this by adding skin names before names in BotNames.txt, but if you want you can use [this](http://pastebin.com/dPtAMVWP) BotNames.txt file that me and a friend made (some of the names in there might be outdated and same with skins), and as for minions you can just set the skin when you set their name. Or if you want minions to have skinnames on by default you can change their de

[2016-11-10 20:29] Megabyte918 commented on #38
@Jhair2015 There already is a config for playerspeed, see [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/gameserver.ini#L123).

[2016-11-10 20:47] Jhair2015 commented on #38
@Megabyte918 I mean that to make double fracture perfect or more or less good, I remember that you wrote me playerspeed: 1.2, something like that, sorry for the inconvenience! :(

[2016-11-10 21:29] Agarian opened #39 "Bug report with minions"
- When attempting to give other's minions, the "other" gains mouse control of ALL minions.
- Others can control someone else's minions With E, R, T.

[2016-11-10 21:46] Megabyte918 commented on #37
@RelTakeover replace your `updateMassDecay` function in GameServer.js with this one:
<pre>
GameServer.prototype.updateMassDecay = function () {
    if (!this.config.playerDecayRate) {
        return;
    }

    // decayrate increases by 0.0001 per player joined
    var rate = this.config.playerDecayRate;
    for (var i = 0; i < this.socketCount; i++) {
        rate += 0.0001;
    }

    var decay

[2016-11-10 21:55] Megabyte918 commented on #38
@Jhair2015 It doesn't have to be a solid "1" or "2" it could be anything in between like 1.1, 1.2, 1.3, etc. You can have any speed that you want it doesn't ***have*** to be a whole number. And what do you mean by "double fracture?" Also, don't be sorry. I like answering people's questions =D

[2016-11-10 22:14] Megabyte918 commented on #39
@Agarian I am aware of the first one, it has been noted in [#7](https://github.com/Megabyte918/MultiOgar-Edited/issues/7) and [in projects](https://github.com/Megabyte918/MultiOgar-Edited/projects/1). And I'll look into the second one, thanks for letting me know =D

[2016-11-11 00:26] Agarian commented on #39
Ok thanks lol

[2016-11-11 00:27] Agarian commented on #39
I'm also on Discord

[2016-11-11 07:41] Jhair2015 opened #40 "Is there a way to make this possible?"
@Megabyte918 I love this extension extensively, I've tried with "ScrambleLevel" all the options and yet I can not see my partner using the same extension on the minimap! :(

Please tell me one way to make this possible! : D

[2016-11-11 10:32] NameYT commented on #20
@Megabyte918 </random> like that? i want all of the skins the Original skins it only can be seen by the user right

[2016-11-11 10:54] NameYT commented on #7
@Megabyte918 Make an extension to control the minions? Using E R T For  Those Who want to control it easier also add </random>Samby Minions Like THat :) also the popspliti mean that u can popsplit with any mass ;3

[2016-11-11 11:04] RelTakeover commented on #37
ok i will try , thanks

[2016-11-11 11:05] RelTakeover commented on #40
scrambleLevel fight against coordinates

[2016-11-11 11:23] t11tanYT opened #41 "Anti bot please!"
Ogar feeder bot users use this bots in my server! fix please!

[2016-11-11 12:26] ZfsrGhS953 commented on #41
Scramble level 3 or implement a system which kicks clients with mouse position out of view box.

[2016-11-11 12:31] PrinceDark9243 opened #42 "Help!"
How i can Stop Cell Switching when you double split like (1)(2)(4)(3)
i want (1)(2)(3)(4)

[2016-11-11 12:32] PrinceDark9243 commented on #42
I hope @Megabyte918 Can Understand it :D

[2016-11-11 12:33] PrinceDark9243 commented on #40
Try to set scrambleLevel to 0

[2016-11-11 14:23] Jhair2015 commented on #40
@RelTakeover  @PrinceDark9243 I have already tested on all Scramble Levels, however it did not work for me :(
Any other way to make that possible?

[2016-11-11 19:09] ZfsrGhS953 commented on #7
Oops, you misunderstood FPS as client FPS - when I said it, I meant the rate at which the client receives updates from server.

[2016-11-11 20:13] Megabyte918 commented on #20
what

[2016-11-11 20:28] systemroot commented on #20
@Megabyte918
what if i wrote
[code]
?

[2016-11-11 20:30] Megabyte918 commented on #40
@Jhair2015 It might be a problem with the extension itself, other clients/extensions with minimaps work for me on the server. However I've seen some in which their maps just don't work period on vanilla OR multiogar which means whoever made it didn't do it right. Test the minimap on vanilla first, make sure you have the same tags and all that and your doing it right, if you guys can see each other

[2016-11-11 21:06] Jhair2015 commented on #40
@Megabyte918  Hahaha no problem, I already know how to connect with my friend through my server in Ogario V3

:) Likewise thank you for responding! : D

How did I do it ?: Well, I enter normal to the server with the extension running, then I create a party, that party I pass to my friend, that enters first to the server and then to the party and we put in specific tag and well It was how I functio

[2016-11-11 21:53] Megabyte918 commented on #42
@PrinceDark9243 I will check it out

[2016-11-11 22:23] Megabyte918 commented on #40
@Jhair2015 Great! Glad you found a solution

[2016-11-11 22:23] #40 closed

[2016-11-11 22:31] Megabyte918 commented on #20
@systemroot What are you trying to do there? Make them have random names upon spawn? That will not work. If your looking for minions to have random names you can do something like this in BotLoader.js under the `addMinion` function:
<pre>
// Sets random names based on whats in the "minionNames" variable
var minionNames = ["minion", "minion1", "minion2", "minion3"];
var nameIndex = (Math.random() *

[2016-11-11 22:49] Jhair2015 commented on #40
:D

[2016-11-11 23:21] NameYT commented on #20
@Megabyte918 just add </random> so the user will not get a hard time :p

[2016-11-11 23:27] NameYT commented on #20
@Megabyte918 < /random >

[2016-11-12 00:39] systemroot commented on #20
@Megabyte918 Thank you ^_^

[2016-11-12 00:49] XtremePlayzCODE opened #43 "Minion pellet mode"
Could you add a minion pellet mode maybe by pressing Q two times really fast, like seeing how many times Q was pressed in a short amount of time, (e.g. 2 sec) and turning the minions into bots that only collect pellets temporarily until turned off

[2016-11-12 00:56] NameYT commented on #43
DUPLICATE of #8

[2016-11-12 00:57] NameYT commented on #20
@systemroot how did it work for you?

[2016-11-12 00:57] XtremePlayzCODE commented on #43
"If many people request that I add the minions collecting pellets feature, I may add it." - Megabyte918. That's why I have a dupe.

[2016-11-12 01:00] NameYT commented on #43
@XtremePlayzCODE just message it on #8

[2016-11-12 01:00] XtremePlayzCODE commented on #43
Why don't you

[2016-11-12 01:01] XtremePlayzCODE commented on #8
I request that you add the minion pellet feature

[2016-11-12 01:01] XtremePlayzCODE commented on #43
#8 done

[2016-11-12 01:01] NameYT commented on #43
@XtremePlayzCODE Already Messaged it :p lets wait for @Megabyte918 to reply my options are when you click "p" as a collect pellet mode like extensions that would be awesome

[2016-11-12 01:01] NameYT commented on #8
:)

[2016-11-12 01:01] XtremePlayzCODE commented on #43
Say same

[2016-11-12 01:02] XtremePlayzCODE commented on #43
#WeWantPelletMode

[2016-11-12 01:02] NameYT commented on #43
@XtremePlayzCODE When you click "P" Minions will automatically collect pellets :)
http://agar.io/?ip=sambyonweed-samby6667851.codeanyapp.com:3000
Join my server if you want

[2016-11-12 01:02] XtremePlayzCODE commented on #43
Wait wait, they do?

[2016-11-12 01:02] XtremePlayzCODE commented on #43
Give me minions, i am XPC

[2016-11-12 01:05] XtremePlayzCODE commented on #43
startmass 43 plz

[2016-11-12 01:06] NameYT commented on #43
k

[2016-11-12 01:07] XtremePlayzCODE commented on #43
YAS

[2016-11-12 01:07] NameYT commented on #43
Wait i should make a Sponsor video xD

[2016-11-12 01:10] XtremePlayzCODE commented on #43
TOO MUCH LAG

[2016-11-12 01:11] XtremePlayzCODE commented on #43
andddddd its offline

[2016-11-12 01:12] Fantasy-Agario commented on #43
RIP

[2016-11-12 01:13] Fantasy-Agario commented on #41
@t11tanYT @ZfsrGhS953 I'll look into it :)

[2016-11-12 01:24] Megabyte918 commented on #8
Alright, since people are requesting it I guess I could start working on it, but I'm very busy right now, still have alot of features and bugs to fix so it might not be for a while until its implemented

[2016-11-12 02:00] Jhair2015 commented on #43
is stupid add the feature

[2016-11-12 02:08] NameYT commented on #43
ADDDDDDDDDDDDDDDDDDDDD

[2016-11-12 02:09] XtremePlayzCODE commented on #43
What?

[2016-11-12 02:12] Chancerst opened #44 "Is mass decay rate same as vanilla agar.io?"
I felt some faster than agar.io.
It isn't?

[2016-11-12 02:35] Jhair2015 commented on #44
It can be modified in:

PlayerDecayRate = .002

gameserver.ini

[2016-11-12 02:51] NameYT opened #45 "Extension for Minion to Control it" E " R " P (SPLIT , FEED < COLLECT PELLETMODE )"
That would be awesome if this project have a Script :)

[2016-11-12 03:27] systemroot commented on #41
i can prove that my way to block user-agent work with multi-ogar too!
http://image.prntscr.com/image/f12249d5d52c467584d1f9fe38f14be5.png
see ip list when say connection refused. all those are sock's. why someone tried some minutes ago to add bots on my srv but he fail :sob:

[2016-11-12 03:32] Tyler3D commented on #45
This is pointless because MultiOgar has support for other clients. And They can use E, R, P.

[2016-11-12 03:35] NameYT commented on #45
But They can make an extension that can be linked with MultiOgar Minion :0

[2016-11-12 03:49] Chancerst commented on #44
@Jhair2015 Oh yea I have some mistake.

[2016-11-12 03:50] #44 closed

[2016-11-12 03:56] Chancerst opened #46 "Megabyte, Can you configure gameserver.ini to vanilla agar.io settings?"
I don't know vanilla configuration.

Decay rate, ~~.. Anything else.

Thank you for working to continue this project. +D

[2016-11-12 04:01] #46 closed

[2016-11-12 04:53] Jhair2015 commented on #45
No

[2016-11-12 05:06] NameYT commented on #45
@Jhair2015 Yes They can @Fantasy-Agario Is making one :p

[2016-11-12 06:28] Jhair2015 commented on #45
@NameYT  Hahaha have to wait :v

[2016-11-12 06:41] #45 closed

[2016-11-12 06:41] #43 closed

[2016-11-12 06:42] #41 closed

[2016-11-12 06:43] #37 closed

[2016-11-12 06:44] #38 closed

[2016-11-12 06:46] AlexandriteErikParacelsus commented on #39
Legend said agarian was never gone

[2016-11-12 06:47] #39 closed

[2016-11-12 06:57] AlexandriteErikParacelsus commented on #45
@NameYT Lol no, when does he told you he gonna make one?

[2016-11-12 07:39] NameYT opened #47 "Make a Extension for Vanilla Agar.io That Allows Controls to Minions"
Extension? E R T CONTROLS

[2016-11-12 08:57] ZfsrGhS953 commented on #47
I made a userscript for it. http://pastebin.com/raw/ct7kbK24

[2016-11-12 09:57] NameYT commented on #47
@ZfsrGhS953 Dont work

[2016-11-12 09:58] ZfsrGhS953 commented on #47
Do you connect to the server through agar.io or an agario clone client?

[2016-11-12 10:00] ZfsrGhS953 commented on #47
Do you use any other extensions/userscripts?

[2016-11-12 10:01] NameYT commented on #47
@ZfsrGhS953 Agar.io and i dont have extensions only tamper monkey

[2016-11-12 10:06] ZfsrGhS953 commented on #47
It works for me.

[2016-11-12 10:07] NameYT commented on #47
@ZfsrGhS953 Im using Agario Vanilla

[2016-11-12 10:08] NameYT commented on #47
![image](https://cloud.githubusercontent.com/assets/20871314/20237069/00b3ae40-a903-11e6-82e6-055623329810.png)
Bots doesn't split

[2016-11-12 10:10] ZfsrGhS953 commented on #47
For me it behaves like this:
If I press E once, the bots split.
If I press R once, the bots eject mass.
If I press T once, the bots stop.
If I press and hold any of these keys, the bots macro split/eject/stop moving.

[2016-11-12 10:10] NameYT commented on #47
@ZfsrGhS953 I will make a video it doesnt work okay?

[2016-11-12 10:10] ZfsrGhS953 commented on #47
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/gameserver.ini#L135

[2016-11-12 10:11] NameYT commented on #47
i will put that on 0?

[2016-11-12 10:11] ZfsrGhS953 commented on #47
Yes
Then it'll work

[2016-11-12 10:22] NameYT commented on #47
@ZfsrGhS953 Works :) But can u add pellet mode which Minions Collect Pellet? The Hot Key is P :)

[2016-11-12 10:33] ZfsrGhS953 commented on #47
Only @Megabyte918 can.

[2016-11-12 10:33] NameYT commented on #47
@Megabyte918 I think he is doing it now :) but i cant connect while i have 3 Script open at the same time i cant connect to my server why?

[2016-11-12 10:34] ZfsrGhS953 commented on #47
Can you give me 2 other scripts? Maybe they're not compatible with my userscript.

[2016-11-12 10:37] NameYT commented on #47
The One is On Google Chrome
Agario Skin Changer Animated skin and my own script
// ==UserScript==
// @name         SambyBots.tk Script
// @namespace    SambyBots.tk
// @version      1.0
// @description  THE BEST BOTS!
// @author       iIronic
// @match        http://agar.io/*
// @require      https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js
// @grant        none
// @run-at

[2016-11-12 10:37] NameYT commented on #47
Then the script that u sent me to control bots

[2016-11-12 10:41] ZfsrGhS953 commented on #47
You can have only one of the scripts active at the same time

[2016-11-12 14:04] cowpits opened #48 "Question about Player connected messages and User Roles"
1st thank you for the update and the edits, really good stuff.
Can the Player connected message be turned off? I ask because my servers get really busy, I reach max constantly and no lag, incredible. It's hard to issue command from console when the Player connected messages keep coming in.
Also, are user roles working? if so, would passing the command from chat like using /rcon work?

[2016-11-12 15:17] #47 closed

[2016-11-12 15:20] AlexandriteErikParacelsus commented on #48
@megabyte918

[2016-11-12 15:23] AlexandriteErikParacelsus opened #49 "What is love?"
@NameYT stop making dunplicated issues about pellet mode and extension for bots, I'm tired of it. Baby don't hurt me don't hurt me no more.

[2016-11-12 15:31] XtremePlayzCODE commented on #49
Well you already did the "Baby don't hurt me" so I have nothing to do now. Stupid brain that dosen't know the rest of the lyrics!

[2016-11-12 16:06] AlexandriteErikParacelsus commented on #49
@Xtreme why df should I write the whole physics out lmao

[2016-11-12 16:07] AlexandriteErikParacelsus commented on #49
Go back to your fucking minecraft game you goat fucker

[2016-11-12 16:08] AlexandriteErikParacelsus commented on #49
I don't even fucking say anything you, I could block you from this prject if I need to you 12 years old

[2016-11-12 16:08] AlexandriteErikParacelsus commented on #49
Fucking dirty wanker, jerking of in the corner when watching minecraft porn

[2016-11-12 16:16] Fantasy-Agario commented on #49
@AlexandriteErikParacelsus Stop

[2016-11-12 16:18] Fantasy-Agario commented on #48
@cowpits I'll make an option in gameserver.ini :)

[2016-11-12 16:37] XtremePlayzCODE commented on #49
What did I do?

[2016-11-12 16:38] XtremePlayzCODE commented on #49
All I said was that you already put "baby don't hurt me" and that I did not know the rest of the lyrics.

[2016-11-12 16:49] Agarian commented on #39
Legend says the original Ogar-Unlimited may soon be reborn...

[2016-11-12 17:02] Fantasy-Agario commented on #39
That legend is correct :D

I tested it already :)

[2016-11-12 17:11] Agarian commented on #39
Wow and it isn't even finished xD

[2016-11-12 17:11] Fantasy-Agario commented on #39
XD

[2016-11-12 17:52] Jhair2015 commented on #49
LOL

[2016-11-12 19:18] AlexandriteErikParacelsus commented on #49
Sorry his grammar wasn't clear, I didn't quite understand him. @Fantasy-Agario

[2016-11-12 19:18] #49 closed

[2016-11-12 19:21] Fantasy-Agario commented on #49
Yeah its alright , just don't get triggered XD

[2016-11-12 19:21] Fantasy-Agario commented on #49
@AlexandriteErikParacelsus

[2016-11-12 19:47] XtremePlayzCODE commented on #49
XD Yes sometimes my grammar clear isn't.

[2016-11-12 19:48] Fantasy-Agario commented on #49
Like now ? XD @XtremePlayzCODE LOL

[2016-11-12 20:19] XtremePlayzCODE commented on #49
That was 100% intentional. Seriously.

P.S. I really wanna play a private server, wanna team or r u busy

[2016-11-12 20:22] Fantasy-Agario commented on #49
Yeah ok, i'm busy atm , but I'll play :)

P.S This is what Im working on : https://github.com/FantasyArts/ConsoleChat

[2016-11-12 20:26] XtremePlayzCODE commented on #49
Ok

[2016-11-12 20:27] XtremePlayzCODE commented on #49
Come say when you have some time back here, I'll work on my own project

[2016-11-12 20:28] Fantasy-Agario commented on #49
I have time now ,

if u like i can help , what's your project anyways ?

[2016-11-12 20:28] XtremePlayzCODE commented on #49
Xenirus.Runtime, a copy of the C# runtime

[2016-11-12 20:28] XtremePlayzCODE commented on #49
but don't worry, it's easy

[2016-11-12 20:28] XtremePlayzCODE commented on #49
I can teach you how to do what I am doing

[2016-11-12 20:29] Fantasy-Agario commented on #49
Yeah ok , why not :)

Do u have discord or skype ?

[2016-11-12 20:30] XtremePlayzCODE commented on #49
disscord

[2016-11-12 20:30] XtremePlayzCODE commented on #49
but no mic

[2016-11-12 20:30] Fantasy-Agario commented on #49
yh same here :)

[2016-11-12 20:30] XtremePlayzCODE commented on #49
lol

[2016-11-12 20:32] XtremePlayzCODE commented on #49
invite me to a chat

[2016-11-12 20:33] Fantasy-Agario commented on #49
kk just w8 a sec :p

[2016-11-12 20:35] Fantasy-Agario commented on #49
I messaged u :)

[2016-11-12 20:35] XtremePlayzCODE commented on #49
??

[2016-11-12 20:35] XtremePlayzCODE commented on #49
on what?

[2016-11-12 20:36] Fantasy-Agario commented on #49
discord :)

[2016-11-12 20:36] XtremePlayzCODE commented on #49
o

[2016-11-12 20:37] Fantasy-Agario commented on #49
XD

[2016-11-12 20:37] XtremePlayzCODE commented on #49
im on disstrackcord

[2016-11-12 23:38] Megabyte918 commented on #47
@NameYT just use a botting extension that adds ERT controls to the client, you can find tons of them off google, youtube, greasyfork, etc

[2016-11-12 23:40] Megabyte918 commented on #41
@t11tanYT did using scramble level 3 fix it??

[2016-11-12 23:50] Megabyte918 commented on #48
@cowpits yes it can be turned off, just remove this line in GameServer.js: https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L252
and I have no idea how user roles work, ive never used them myself nor know do i know how to use it :/

[2016-11-13 00:34] NameYT commented on #48
@Megabyte918 Updated fix:1.) Add this small fix into GameServer.js (thx @NatsuTheGreat) from this commit here: 6b23cea2.) Change the size multiplier located here, change the "1.15" to "1.10"3.) Edit the splitMass variable for virus explosions here, change the "2" to "2.5".4.) Change the first value of the normalized distance, change "32" here, to "64"5.) Change the playerSpeed value in config.ini

[2016-11-13 02:28] AlexandriteErikParacelsus commented on #48
^ sorry what??

[2016-11-13 02:31] Megabyte918 commented on #48
@NameYT you dont need to do that anymore.. this isnt original multiogar, all you need to do is said in #10

[2016-11-13 04:13] NatsuTheGreat commented on #48
@NameYT No probs.

[2016-11-13 04:32] AlexandriteErikParacelsus commented on #47
@ZfsrGhS953 hey that's pretty good

[2016-11-13 04:37] Megabyte918 commented on #47
@ZfsrGhS953 Nice job with the script! It worked wonders :)
Would you mind If I uploaded this script to this repo in a js file? I will credit you at the top or even link your project if you want, I just need your permission its okay to say no if you don't want me to

[2016-11-13 04:46] Megabyte918 commented on #42
@PrinceDark9243 I don't know how to fix this exactly, but I have been able to reduce the rate of it happening a couple times.

You can by reducing the splitspeed [here] (https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L1225)

Or by reducing the playerSpeed to [normalized distance] (https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/entity/PlayerCell.js#L6

[2016-11-13 05:20] NameYT commented on #48
@Megabyte918 I still dont get popsplit always fail lol

[2016-11-13 06:37] NameYT opened #50 "On the New Update When we try to name our minion it becomes unannmed?"
dafuq lol fix this :) Keep up and Add Pellet Mode :)

[2016-11-13 06:42] PrinceDark9243 commented on #50
No dude its working fine for me!

[2016-11-13 06:46] PrinceDark9243 commented on #7
How to use random skins?

[2016-11-13 07:39] ZfsrGhS953 commented on #47
@Megabyte918 Yes, that's all right! If possible, credit me as well.

[2016-11-13 08:11] ItsDavehere opened #51 "Adding Anti 'bots"
Hi , can you add Anti Bots Anti the project is great over all thanks.

[2016-11-13 08:42] #50 closed

[2016-11-13 09:32] NameYT commented on #7
@PrinceDark9243
minion 1 1000 <r>SambyIsHelping

[2016-11-13 09:33] ZfsrGhS953 commented on #7
Umm.... He said RANDOM skins.

[2016-11-13 09:36] NameYT commented on #7
< r >

[2016-11-13 09:36] NameYT commented on #7
wrong type

[2016-11-13 09:37] NameYT commented on #7
@ZfsrGhS953 Do you know how to get a perfect Popsplit?

[2016-11-13 09:54] ZfsrGhS953 commented on #7
@Megabyte918 New update is awesome :) Now Petridish Ogar is only about 5% faster than MultiOgar-Edited!

[2016-11-13 11:00] ZfsrGhS953 commented on #7
I think minion performance really depends on your position on the map, where the minions are splitting etc... And I find it quite hard to believe that my optimizations did nothing to MultiOgar performance. So, I ran 1000 bots (addbot 1000) instead. Petridish Ogar was 10% faster than Edited Ogar, a very good improvement due to optimizations I made.

[2016-11-13 12:23] RelTakeover opened #52 "where i can change that"
where i can change the reach of a virus

[2016-11-13 12:28] ZfsrGhS953 commented on #52
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L1312
Change 780 to whatever you like

[2016-11-13 14:36] cowpits commented on #48
@Megabyte918 thank you for the fix. Much better now.

[2016-11-13 14:37] cowpits commented on #48
@Fantasy-Agario a gameserver.ini option would also be great for the next release if you wish. Thanks.

[2016-11-13 14:39] cowpits commented on #48
@Megabyte918, forgot no worries about userRoles, it's not a big deal most people use the agar.io client anyway I wouldnt be able to pass console commands from there, but the c0nsume client is awesome and if it's possible then it'll be a great feature.

[2016-11-13 15:38] RelTakeover commented on #52
i mean the reach
To blow up a player
not the reach of explotion..

[2016-11-13 15:50] Megabyte918 commented on #51
@ItsDavehere have you tried it with scamble level set to 3?

[2016-11-13 16:03] Megabyte918 commented on #7
@ZfsrGhS953 It was a [lazy fix] (https://github.com/Megabyte918/MultiOgar-Edited/commit/773ad9255260d3196145cbf85a978e7dab8e7c6f), regular MultiOgar-Edited can have up to 700 minions, anything past that starts to lag so I compromised by having it disable visible node calculations for them after 700 has been added, this allows for around 2000 minions with no lag. BUT... the only downside to disabli

[2016-11-13 16:03] AlexandriteErikParacelsus commented on #50
@NameYT nah mate it works perfectly fine, probably you do something wrong there

[2016-11-13 16:18] Megabyte918 commented on #48
@cowpits Ive tested it out, you have to input IP in userroles.json as any user you want to be, then if there is a chat on the client your using you can do /command to run commands. if the client has a login/logout system you can use /login or /logout or stuff like that.

[2016-11-13 16:18] #48 closed

[2016-11-13 16:19] ZfsrGhS953 commented on #52
The line I highlighted is the distance of a virus shot, not the distance of explosion.

[2016-11-13 17:29] Megabyte918 commented on #52
@RelTakeover Viruses, ejected cells, and players all use the same eat distance. But if you would like to change that you can do something like this under the `resolveCollision` function in GameServer.js:
<pre>
var eatDistance;
// Eat distance for viruses
if (minCell.cellType == 2 || maxCell.cellType == 2) {
    eatDistance = maxCell._size - minCell._size / 3;    << change the "3" to any number you

[2016-11-13 17:29] #52 closed

[2016-11-13 18:34] koda commented on #7
Hi I cant get the ERT keys to work i tried everything :\

[2016-11-13 21:04] Megabyte918 commented on #7
@koda change the [disableERT] (https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/gameserver.ini#L135) config to "0", and make sure your either using the [ERTcontrol extension] (https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/ERTcontrol.js), or if not use a seperate client that supports E, R, and T controls

[2016-11-14 01:06] Jhair2015 opened #53 "Please! :D"
Please make a gamemode in which they appear with bots! : D
Please make a gamemode in which they appear with bots! : D

[2016-11-14 04:49] AlexandriteErikParacelsus commented on #53
@Jhair2015 He's making it, stay tuned ;)

[2016-11-14 04:50] AlexandriteErikParacelsus commented on #53
oops

[2016-11-14 07:02] PrinceDark9243 commented on #7
how to use random skins for bots! :T

[2016-11-14 07:21] Megabyte918 commented on #7
@PrinceDark9243 put <r> before their names

[2016-11-14 09:51] t11tanYT opened #54 "IDEA"
new gamemode:bots (
automatically
give bots for all
new configs:
autogivebotscount = number of bots to give
autogivebotsname = name of bots
botsautogivebots = 0 (disable and enable to bots give bots)
autogivebotminmass = 32
autogivebotmaxmass = 32
good idea:D

[2016-11-14 10:05] RelTakeover commented on #52
i want change only virus reach

[2016-11-14 10:09] ZfsrGhS953 commented on #7
@Megabyte918 I found a way to spectate minions without calculating visible nodes for them, check it out!

[2016-11-14 10:10] ZfsrGhS953 commented on #54
Already added in Petridish Ogar. It would be cool to have the feature here as well !

[2016-11-14 10:24] t11tanYT opened #55 "Bots cannot have minions"
Fix

[2016-11-14 15:40] Megabyte918 commented on #52
That is the reach.

[2016-11-14 15:41] Megabyte918 commented on #7
Alright I will later, rn im in school :)

[2016-11-14 15:42] Megabyte918 commented on #55
Why would you want bots to have minions? They cant control them lol

[2016-11-14 15:43] Megabyte918 commented on #54
I will work on it, but I am busy with other things atm so it might take some time

[2016-11-14 16:19] Megabyte918 commented on #7
@ZfsrGhS953 Do you have skype or any other way I can contact you?

[2016-11-14 16:30] RelTakeover commented on #52
with this configuration the reach is soo high

[2016-11-14 18:22] Jhair2015 commented on #53
Ok :)

[2016-11-14 22:53] RelTakeover commented on #52
please answer me @Megabyte918

[2016-11-15 01:49] Megabyte918 commented on #52
@RelTakeover What do you have the number set to? If it's too high just lower it

[2016-11-15 05:00] Megabyte918 commented on #42
@PrinceDark9243 I took another look at the splitting/collision engine, I found where it was coming from. https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L854
![capture](https://cloud.githubusercontent.com/assets/17245196/20293577/94b19c10-aac5-11e6-9db6-440e53597b11.PNG)
If you wan't to get rid of the order switching, you have to get rid of the two lines under this co

[2016-11-15 10:02] ZfsrGhS953 commented on #7
At the moment, you can only contact at the discord where I work for bots: https://discord.gg/6A3qTSU

[2016-11-15 10:02] RelTakeover commented on #52
this code not working

    var eatDistance;
// Eat distance for viruses
if (minCell.cellType == 2 || maxCell.cellType == 2) {
    eatDistance = maxCell._size - minCell._size / 0.000000000000000000000001;
// Eat distance for anything else BUT viruses
} else {
    eatDistance = maxCell._size - minCell._size / 0.000000000000000000000001;
}

with value of 0.000000000000000000000001; is higher than the

[2016-11-15 10:28] ZfsrGhS953 commented on #52
Increase it instead of decreasing it.

[2016-11-15 10:36] RelTakeover commented on #52
sure? i will try

[2016-11-15 10:39] RelTakeover commented on #52
Still the same, it seems that even if the value changes, nothing changes

[2016-11-15 10:41] ZfsrGhS953 commented on #52
Increase it to a very big value, like 100

[2016-11-15 10:53] t11tanYT commented on #55
i want this, for more reaistic

[2016-11-15 12:18] t11tanYT opened #56 "new commands"
PL (only players!!!)
botlist bl (only for bots)
minionlist ml (only for minions)

[2016-11-15 14:30] RelTakeover commented on #52
sure? i will try

[2016-11-15 15:13] Megabyte918 commented on #56
@t11tanYT why would you want to list bots and minions? you can already do that with pl

[2016-11-15 18:39] rjay222 commented on #55
@Megabyte918 he wants to feel like hes playing on a server with bots, just like when you join a party server and theres a bot user. It's indeed more realistic imo.

[2016-11-15 21:11] RelTakeover commented on #52
dont working..

[2016-11-15 21:24] Megabyte918 commented on #52
@RelTakeover works fine for me, what are you trying to get at? make the eat distance larger? smaller?

[2016-11-15 21:26] RelTakeover opened #57 "Food bigger"
megabyte where i can change to i can eat food more bigger than myself

[2016-11-15 21:38] RelTakeover commented on #52
larger

[2016-11-15 21:39] RelTakeover commented on #52
With this, you will not have to get too close to the virus for popsplit

[2016-11-15 21:43] RelTakeover commented on #52
with value of 3000000 same distance , the code didnt work :(

[2016-11-15 21:44] RelTakeover commented on #52
you are sure that the code is correct?

[2016-11-15 22:38] Megabyte918 commented on #57
@RelTakeover I don't know about food bigger than yourself, but I can make it so you can eat the food if you are the same size as it. Add this into your `resolveCollision` function in GameServer.js:
<pre>
// Size check
if (maxCell.cellType == 1 || minCell.cellType == 1) {
    var sizeMult = 1;
} else {
    sizeMult = 1.15;
}
if (maxCell._size <= minCell._size * sizeMult) {
    // too large => can't

[2016-11-15 23:21] Megabyte918 commented on #52
@RelTakeover It does increase the eat distance, but if you would like to increase it more you can do:
<pre>
// check distance
var eatDistance = maxCell._size - minCell._size / 3;

// custom eat distance
if (minCell.cellType == 2 || maxCell.cellType == 2) {
    // eat distance for viruses
    var distanceMult = Math.pow(eatDistance, 3);
} else {
    // eat distance for anything BUT viruses
    dist

[2016-11-16 11:48] t11tanYT commented on #56
@Megabyte918  My client crash if
fast
all 1000 lines displayed (max 200- 250)

[2016-11-16 12:01] RelTakeover commented on #57
i mean if the food equal to 100 points , and the player start with 10 of mass , i need eat this food bigger , like ogarUL

[2016-11-16 13:14] ZfsrGhS953 commented on #57
https://github.com/ZfsrGhS953/Petridish-Ogar/blob/master/Ogar/src/GameServer.js#L1063 Look around this line, you probably want the cellType==1 stuff which checks if it's a food cell.

[2016-11-16 13:20] ZfsrGhS953 commented on #52
Just change [this line](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L922) to:
[code]

[2016-11-16 17:33] PrinceDark9243 commented on #42
it works but i cant able to split in straight line like normal

[2016-11-16 18:08] RelTakeover commented on #57
@Megabyte918  @ZfsrGhS953  please help me , what i should edit yo change this ?

[2016-11-16 18:08] RelTakeover commented on #52
thanks @Megabyte918

[2016-11-16 18:59] Fantasy-Agario commented on #55
Well , we need the , "only one person can control minions" fixed , before we start anything else :)

[2016-11-16 20:12] Megabyte918 commented on #42
@PrinceDark9243

I am aware of this, I will work on the collision engine so that way you can keep the same splitting along with the same rate of cells switching order.

[2016-11-16 22:01] Jhair2015 opened #58 "Please New Update!! xD"
Update!!! :v

New Custom Gamemode similar alis.io:  spawn a player with minions!!

Fix POPSPLIT!! : Vanilla is updated and popsplit is very easy

pop is satisfactory with similar mass or less mass

[2016-11-16 23:00] #56 closed

[2016-11-16 23:01] #51 closed

[2016-11-16 23:01] #53 closed

[2016-11-17 02:19] RelTakeover commented on #58
yes

[2016-11-17 02:46] AlexandriteErikParacelsus commented on #58
Popsplit is normal and stop making duplicate issues, we 're tired of it.

[2016-11-17 02:46] #58 closed

[2016-11-17 02:46] #57 closed

[2016-11-17 02:47] AlexandriteErikParacelsus commented on #55
@Fantasy-Agario lmao, already fixed a long time ago

[2016-11-17 02:54] Jhair2015 commented on #58
Ok :(

[2016-11-17 03:16] Megabyte918 commented on #55
@t11tanYT For a temporary fix you can remove the `!this.owner.socket.isConnected || ` from this line here:
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/ai/MinionPlayer.js#L23
but it breaks minions disconnecting when the owner leaves, I will have to figure out a way to separate bots and minions further but for right now just do that.

[2016-11-17 03:18] Megabyte918 commented on #58
@Jhair2015 I am working on the minions spawning thing, and popsplits are already like that. They are easy and they do work with similar and less mass (although less mass is very rare)

[2016-11-17 03:33] Jhair2015 commented on #55
add spawn with bots please! :D

[2016-11-17 03:36] Jhair2015 commented on #58
Ok lol, Sorry for the inconvenience

[2016-11-17 10:00] RelTakeover commented on #57
@AlexandriteErikParacelsus  why you close the issue ?

[2016-11-17 23:06] Tyler3D commented on #8
@Megabyte918 Is it possible to put the P hotkey on the agario macros and have it send a packet to the server?

[2016-11-17 23:06] Tyler3D commented on #8
IDK much node.js.
Im more of a C++ kind of person

[2016-11-18 00:10] XtremePlayzCODE commented on #8
Yes it is using Socket.io

P.S. I know I'm not megabyte but whatevs

[2016-11-18 01:59] AlexandriteErikParacelsus commented on #55
@Jhair2015 what did I tell you? And what did you promise to me

[2016-11-18 10:55] ZfsrGhS953 commented on #8
@XtremePlayzCODE It uses WebSocket... Not socket.io like you think.

[2016-11-18 11:08] NameYT opened #59 "Why do we change colors while clicking Q REmove it and E AND R T ALREADY ADDED its annoying"
fix

[2016-11-18 13:53] firelightning13 commented on #59
why not?

[2016-11-18 15:59] systemroot commented on #59
No. How can we know which are we control if color don't change.

[2016-11-18 16:37] ZfsrGhS953 commented on #59
Not everyone installs the userscript to control bots.

[2016-11-18 20:16] Megabyte918 commented on #59
@NameYT #7

[2016-11-18 20:16] #59 closed

[2016-11-18 20:23] Megabyte918 commented on #8
I think it would just be easier to have it send a packet for P to the server so you can use the key however you like @Tyler3D

[2016-11-18 22:32] XtremePlayzCODE commented on #8
You could implement socket.io tho

[2016-11-18 23:16] NameYT commented on #59
@Megabyte918 I USE THE SCRIPT E R T BUT STILL :( MAKE MY COLORS ded

[2016-11-18 23:24] NameYT opened #60 "Popsplit Doesn't work!"
Fix

[2016-11-18 23:27] Jhair2015 commented on #60
@NameYT  That if they work, even I have popsplit popup with 22 000 mass, MegaByte is already tired of these Dupicados, He is the one who decides if there is any failure in popsplit and will be corrected ....

[2016-11-18 23:30] Megabyte918 commented on #60
@NameYT can you explain? they work perfectly for me

[2016-11-18 23:32] NameYT commented on #60
@Megabyte918 How to get popsplit with anymass? example : POPSPLITTING 15k mass (opponent) me 12k

[2016-11-18 23:33] Megabyte918 commented on #59
@NameYT if you don't want the cell to change color, go to PacketHandler.js and remove lines 155-158 and 163-165.

[2016-11-18 23:34] Megabyte918 commented on #60
@NameYT just do it regularly, it DOES work just not as often as normal popsplits (mass to half of mass).

[2016-11-18 23:54] NameYT commented on #60
@Megabyte918 I remember u sent something in the popsplit on the multiogar original

[2016-11-18 23:55] NameYT commented on #60
Updated fix:

1.) Add this small fix into GameServer.js (thx @NatsuTheGreat) from this commit here: 6b23cea

2.) Change the size multiplier located here, change the "1.15" to "1.10"

3.) Edit the splitMass variable for virus explosions here, change the "2" to "2.5".

4.) Change the first value of the normalized distance, change "32" here, to "64"

5.) Change the playerSpeed value in config.ini to

[2016-11-19 00:08] NameYT commented on #60
@Megabyte918 Look at

[2016-11-19 00:08] NameYT commented on #60
@Megabyte918 look at dat

[2016-11-19 00:12] Megabyte918 commented on #60
@NameYT you do not need to do that anymore the fixes are outdated and are not nessecary.

[2016-11-19 00:28] NameYT commented on #60
@Megabyte918 im doing it on the oruiginal mutliu ogar

[2016-11-19 00:35] Megabyte918 commented on #60
@NameYT Well it should work then. I've told you how to get 100% working popsplits many times, but you failed to follow my instructions. You've made 5 issues about popsplits, i'm tired of it. Any other issues regarding popsplits I will close, any comments about it I will not respond to. You should know by now. If its that difficult for you, get someone else to do it. I've spoonfed you as much as I

[2016-11-19 00:35] #60 closed

[2016-11-19 02:54] Megabyte918 commented on #54
Finished.

[2016-11-19 02:54] #54 closed

[2016-11-19 02:56] Megabyte918 commented on #13
@agariotips Finished. I will continue to work on the minions by ip thing tho

[2016-11-19 02:56] #13 closed

[2016-11-19 02:58] Megabyte918 commented on #20
@t11tanYT All added except for the ones that I have questioned, and Pellet mode which is a duplicate of an existing issue, so I will close for now.

[2016-11-19 02:58] #20 closed

[2016-11-19 02:58] #42 closed

[2016-11-19 03:49] AlexByte918 opened #61 "You can This?"
You can solucione the Vanilla mode to im show my skin?

[2016-11-19 04:10] NameYT commented on #61
No u cant agario devs already figured it out ;( to block the skins :(

[2016-11-19 04:11] NameYT opened #62 "When are you gonna add Pellet Mode? /QUESTION/"
When?

[2016-11-19 04:19] Tyler3D commented on #62
Duplicate of #8 #43 #45 And a bunch more

[2016-11-19 04:19] Tyler3D commented on #62
@NameYT

[2016-11-19 04:20] Megabyte918 commented on #61
@AlexByte918 not possible ATM

[2016-11-19 04:20] #61 closed

[2016-11-19 04:43] #62 closed

[2016-11-19 04:48] Megabyte918 commented on #13
@agariotips If you want minions by a special IP, you can do something like this in GameServer.js on this line: https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L367
<pre>
if (this.config.serverMinions > 0 && ws.remoteAddress == "insert your ip here") {
</pre>
So for example if I wanted minions to only be spawned in with me when I connect using my localhost IP address I

[2016-11-19 05:38] NameYT opened #64 "How to make an extension? like u-bot.ml?"
When i do it it always goes to real agar lol

[2016-11-19 05:56] Tyler3D commented on #64
You have to code it

[2016-11-19 06:52] Megabyte918 commented on #64
@NameYT
1.) learn javascript
2.) code it

[2016-11-19 07:06] NameYT commented on #64
@Megabyte918 Make one for this project :) That have bots count like that

[2016-11-19 07:32] AlexByte918 opened #65 "You can fix this"
You can fix the vanilla mode, this mak the skins you dont see, please fix

[2016-11-19 07:34] NameYT commented on #65
You cant :( ATM Agar Devs Disabled it

[2016-11-19 07:36] AlexByte918 commented on #65
Shit, Ok thanks for you answer

[2016-11-19 07:40] AlexByte918 opened #66 "Minion Control (HELP YOU)"
Actually to controll the minions you need Press Q,
You can change this with this steps.

1)Open in MultiOgar-Edited-master/src ERT control,
2)copy all and paste in tampermonkey (tampermonkey.net)
3)configure like this in the line 6 (// @match        *.agar.io/*, Change *.agar.io/ to agar.io/YourIp:Port)
4)Already works split bot with E and feed with R

[2016-11-19 07:46] #65 closed

[2016-11-19 07:47] Megabyte918 commented on #64
There is no need for an extension add on to this project.

[2016-11-19 07:47] #64 closed

[2016-11-19 07:49] Megabyte918 commented on #66
@AlexByte918 I don't think we need an issue for this because most people already know how to use it if their able to setup their own server, so I'm going to close this. But thanks for your help anyway :)

[2016-11-19 07:49] #66 closed

[2016-11-19 13:28] agariotips opened #67 "E R T controls help."
On my site, the tampermonkey extension does not work, (@matched it) ERTcontrol is 1 and when i press e or r, it does not work.
I tried using this code from OgarUL
[code]
That did not work. Are the `sendUint8(numberhere)` right? or does MultiOgar-Edited use a different type?

[2016-11-19 20:11] Megabyte918 commented on #67
@agariotips What was wrong with it before you used the code from OgarUL? Did it just not work period?

[2016-11-19 23:08] NoiseControllers opened #68 "Rush Mode"
it's possible.

thanks :)

[2016-11-20 00:10] Megabyte918 commented on #68
@NoiseControllers What's rush mode?

[2016-11-20 01:28] firelightning13 commented on #68
https://www.youtube.com/watch?v=kOrKHaAXYMY

[2016-11-20 01:50] Megabyte918 commented on #68
So its basically just FFA with red viruses and a 5min time limit?

[2016-11-20 06:47] Tyler3D opened #69 "Brand New Gamemode - Last Man Standing!"
Created by Me and @Megabyte918
4 New Configs.
The Default for The gamemode is: 60 mins until LMS starts. And 60 mins until the you can join again.

[2016-11-20 06:49] Tyler3D commented on #69
@Megabyte918 Need the announcement tag XD

[2016-11-20 07:13] NameYT opened #70 "Pellet Mode Using P? Is that posible?"
works?

[2016-11-20 07:22] Megabyte918 commented on #70
Pellet mode does not exist.

You've made 5 issues about pellet mode, do not make any more. I will add it when I am ready.
Duplicate of #8, #43, #45, #50, #62

[2016-11-20 07:22] #70 closed

[2016-11-20 07:50] NameYT commented on #69
What is the command bruhh!

[2016-11-20 08:52] t11tanYT opened #71 "Botsss"
Scrample level 3 not work fix pleease

[2016-11-20 09:13] Fantasy-Agario commented on #71
Hmmm , i will try to figure a way to stop theee bots for good :)

[2016-11-20 11:27] firelightning13 commented on #68
I guess that's pretty much. There's nothing really special about it

[2016-11-20 11:31] t11tanYT commented on #71
@Fantasy-Agario thanks

[2016-11-20 11:35] t11tanYT opened #72 "if player min size 92 virus exploring me to 10 mass pierses!!!"
fix

[2016-11-20 11:39] PrinceDark9243 commented on #68
no one thing more you can split virus with 3 eject mass

[2016-11-20 11:44] firelightning13 commented on #68
really? i haven't test it yet. my cheap phone still couldn't handle this kind of graphic. well, you could just modify it manually in gameserver.ini, or add the gamemode yourself. but that's up to @Megabyte918

[2016-11-20 12:20] t11tanYT opened #73 "Stop this!!"
https://www.youtube.com/watch?v=uJNKZK7g_X8 - his can upload for all this server and all will make the tutorial, many issies, please, stop this, PLEASE!!!!!

[2016-11-20 12:22] t11tanYT commented on #73
AND MANY SPAM

[2016-11-20 13:55] ZfsrGhS953 commented on #73
You are the one who is spamming. If @Megabyte918 doesn't like this, he can dislike the video and post a link to this repo in the comments.

[2016-11-20 14:00] Fantasy-Agario commented on #73
Do not create issues like this @t11tanYT !

Closing

[2016-11-20 14:00] #73 closed

[2016-11-20 14:00] Fantasy-Agario commented on #72
I said this already "Do not spam!!!"

[2016-11-20 14:00] #72 closed

[2016-11-20 16:14] Jhair2015 commented on #69
In gameserver.ini put 4 on gameserver

`serverGamemode = 4`

[2016-11-20 16:37] agariotips commented on #67
yeah it just didnt work

[2016-11-20 16:43] agariotips commented on #67
and it kept showing the overlays every time i pressed e.

[2016-11-20 16:44] agariotips commented on #67
and btw, im on protocol 5

[2016-11-20 17:36] Tyler3D commented on #69
@Jhair2015
`ServerGamemode = 5`

[2016-11-20 18:27] #71 closed

[2016-11-20 18:43] Jhair2015 commented on #69
@Tyler3D  Oh lol xD is 5

[2016-11-20 18:45] AlexandriteErikParacelsus commented on #69
@Jhair2015 gamemode 4 is experimental LMS

[2016-11-20 18:54] Jhair2015 opened #74 "AntiBot/Minion not found"
i test the serverScrambleLevel in 1, 2 , 3, and not found

AgarioPowerups worked on 3 level's :/

FIX THIS PLEASE

[2016-11-21 01:16] Megabyte918 commented on #72
@t11tanYT thanks for pointing it out, it's fixed now

[2016-11-21 01:20] Megabyte918 commented on #67
@agariotips use different keys for the overlay and leave E, R, and T for the minion controls. Or just use different keys for the minion controls.

[2016-11-21 01:36] agariotips commented on #67
i fixed the overlay problem, yet they just don't work. Am i missing something? here are the snippets for any keycodes:
[code]
and
[code]

[2016-11-21 02:02] Megabyte918 commented on #67
@agariotips looks fine to me.. you sure there's nothing else interfering with the controls? no macros? keybinds?

[2016-11-21 02:46] RelTakeover opened #75 "how to block "q""
how to block the funcion of change color at press q and change the block of split and eject mass of myself at press 'q'

[2016-11-21 04:32] RelTakeover opened #76 "add auto-restart"
add auto restart implement system

[2016-11-21 06:36] PrinceDark9243 commented on #68
and more thing when virus split mass of virus turn to 75

[2016-11-21 06:38] PrinceDark9243 opened #77 "Auto Split"
How i can stop auto split and consume my mass please dont Close it! @Megabyte918 's Code that he gave me isnt working!

[2016-11-21 09:07] Megabyte918 commented on #77
replace your autoSplit function in GameServer.js with this one:
<pre>
GameServer.prototype.autoSplit = function (client, cell1) {
    // rec mode
    if (client.rec == false) {
        var maxSize = this.config.playerMaxSize;
    } else {
        maxSize = this.config.playerMaxSize * 3;
    }

    // check size limit
    var checkSize = !client.mergeOverride || client.cells.length == 1;
    if (ch

[2016-11-21 09:07] #77 closed

[2016-11-21 09:08] Megabyte918 commented on #75
@RelTakeover see my last comment on #59

[2016-11-21 09:08] #75 closed

[2016-11-21 09:10] Megabyte918 commented on #74
@Jhair2015 I will work on this.

[2016-11-21 09:16] Megabyte918 commented on #76
@RelTakeover There is no need for an auto restart system to be built into the server, when there are already so many things that could do it for you. Someone made the same issue in MultiOgar, you can check it out here: https://github.com/Barbosik/MultiOgar/issues/217

[2016-11-21 09:16] #76 closed

[2016-11-21 09:22] Gimmo commented on #21
Ogar-Remastered not working for me with different servers. Shows only grid. WTF?

[2016-11-21 09:53] PrinceDark9243 commented on #77
Thanks @Megabyte918

[2016-11-21 10:01] RelTakeover commented on #75
i want block the FUNCTION of ''q'" not only the change of the color

[2016-11-21 10:30] NameYT commented on #74
@Megabyte918 Are you adding Pellet Mode? xD just asking not forcing

[2016-11-21 10:31] NameYT opened #78 "Update Virus.js | NEW UPDATE | What is it about |???"
Tell me then i will close this if i know it :)

[2016-11-21 11:12] NameYT commented on #69
@Megabyte918 @Tyler3D Doesnt work!! I killed a bot but they keep spawning :3

[2016-11-21 11:32] NameYT commented on #78
@Megabyte918

[2016-11-21 11:46] NameYT opened #79 "NO tp [id] command dafuq!"
Fix!

[2016-11-21 12:06] t11tanYT opened #80 "not working"
all tp to y- 0 x- 0 fix

[2016-11-21 12:39] #80 closed

[2016-11-21 13:46] PrinceDark9243 opened #81 "Entity Bounce"
How i can make entities does not bounce from border @Megabyte918 's MultiOgar Code Removed i need for MultiOgar-Edited!

[2016-11-21 15:34] AlexandriteErikParacelsus commented on #78
Please stop making pointless issues, I'm tired of it and so do megabyte

[2016-11-21 15:34] #78 closed

[2016-11-21 15:34] AlexandriteErikParacelsus commented on #79
He removed it

[2016-11-21 15:34] #79 closed

[2016-11-21 16:31] RelTakeover opened #82 "add commands"
you can add more commands in the chat for admins like Mass , Kill , Killall , Kick , Ban , etc?

[2016-11-21 16:34] RelTakeover opened #83 "add features for minions"
features as:

- Automatic bots have the owner's name
- set the default speed of minions
- delete ''q'' with a variable
- BOT PER IP

EXAMPLE :+1:
DisableQ = 1
DisableERT = 0

[2016-11-21 16:37] RelTakeover opened #84 "add indicator to admin in the chat"
Indicator as:

[ADMIN]USER : HELLO

and message to all when a admin connect

[ADMIN]Arnold  has connected..

[2016-11-21 16:47] AlexandriteErikParacelsus commented on #83
DisableQ = 1
DisableERT = 0

what is that about?

[2016-11-21 16:49] AlexandriteErikParacelsus commented on #69
@NameYT you need to wait m8 until LMS started

[2016-11-21 17:47] Jhair2015 commented on #83
@AlexandriteErikParacelsus  It refers to activating Minions controlled by "Q" or "E, R, T" ...

[2016-11-21 17:55] Megabyte918 commented on #75
@RelTakeover Replace you PacketHandler.js with this one: http://pastebin.com/rRgL2wxv

[2016-11-21 18:03] AlexandriteErikParacelsus commented on #83
@Jhair2015 I don't get it why is it on there?

[2016-11-21 18:06] Megabyte918 commented on #81
@PrinceDark9243 remove lines 132 through 137 in Cell.js.
If it's a simple question like this it's not worth making an issue about, just comment and ask on another issue no need to make multiple.

[2016-11-21 18:06] #81 closed

[2016-11-21 18:12] AlexandriteErikParacelsus commented on #84
@RelTakeover why

[2016-11-21 18:24] Megabyte918 commented on #83
@RelTakeover

Not possible since the server only gets the player's name AFTER they have spawned with it, and the minions are added BEFORE they spawn so they will always be unnamed by default.

That would decrease performance with minions by quite a bit, so no.

I don't think we need a seperate config just for Q, if people don't want it they can just remove Q functionality through PacketHandler

Se

[2016-11-21 18:24] #83 closed

[2016-11-21 18:29] Megabyte918 commented on #84
@RelTakeover there is no need for this with the server, but if you have a custom client with a chat you can make that happen

[2016-11-21 18:29] #84 closed

[2016-11-21 19:03] Gimmo opened #85 "Authorization question"
Does server support authorization and did someone ever use this?

[2016-11-21 19:08] Megabyte918 commented on #82
@RelTakeover I tried adding some before, but I failed. However you can install OgarConsole so other people can access to the terminal that you are using if you'd like.

[2016-11-21 19:08] #82 closed

[2016-11-21 19:10] Gimmo opened #86 "Stability question"
Why people need to restart MultiOgar servers? Often it happened every 3 hours.  It's bad system management or MultiOgar have some internal problems? What should I look for?

[2016-11-21 19:18] Megabyte918 commented on #85
@Gimmo Yes, you can input your IP and password into userRoles.json, then if your using a client that has a chat you can do `/login [password]`

[2016-11-21 19:26] Megabyte918 commented on #86
@Gimmo Personally I've never experienced any issues with MultiOgar and leaving it running, i'm able to start up the server with 70 bots and 100 minions and leave it running overnight, and when I come back it would be exactly how I left it. But I assume that other people restart their servers because either people get too big, they've changed something within the code that requires a restart, or wo

[2016-11-21 20:49] RelTakeover opened #87 "please how to.."
please how to eat food bigger than me

[2016-11-21 21:08] RelTakeover opened #88 "BETTER IMPROVED TO BOTS"
That the bots can be seen on a map

[2016-11-21 21:19] Tyler3D commented on #69
@NameYT Yea, I just posplited myself with a bot. 5 Seconds later I realize I can't spawn. *facepalm*

[2016-11-21 21:25] AlexandriteErikParacelsus commented on #69
@Tyler3D Nice

[2016-11-21 21:45] Jhair2015 commented on #88
@RelTakeover  I do not think this is a very useful feature, well he who decides to do that would be @Megabyte918

[2016-11-21 22:18] Megabyte918 commented on #88
@RelTakeover What do you mean? If your using a minimap that works for players, you should be able to see minions on the map too.

[2016-11-21 22:18] #85 closed

[2016-11-21 22:18] #86 closed

[2016-11-21 22:21] Megabyte918 commented on #87
@RelTakeover Do not make anymore duplicate issues about this. #57

[2016-11-21 22:21] #87 closed

[2016-11-21 22:28] Gimmo commented on #86
Is there proven anti-bot measures or solutions? I wish to be able leave server intact for a few month.
I'm going to ban TOR and proxy connections to eliminate botters. Is there any inserver features to help this?

[2016-11-21 22:40] Gimmo commented on #85
Hve server any hooks for <Packet 80: Send Token>  ?

[2016-11-21 23:30] Jhair2015 commented on #88
For that is the HSLO, OGARio, etc; That happened to you @Megabyte918  XD, you could become a client perzonalidado! : D

[2016-11-21 23:45] RelTakeover commented on #88
i want that i can only see minions position and myself position , no others players

[2016-11-22 01:17] Megabyte918 commented on #88
@RelTakeover This is a client-sided issue and therefore cannot be resolved with edits to the server. Try talking to the owner(s) of the client you are using.

[2016-11-22 01:17] #88 closed

[2016-11-22 03:17] systemroot commented on #35
@Megabyte918 do u know how to make this big virus to split food out faster then normal default?
http://image.prntscr.com/image/e5ae07f51e1a46f8962713b618e03eb9.png

[2016-11-22 05:57] Megabyte918 commented on #35
@systemroot Reduce this value in Experimental.js (sorry for late response)
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/gamemodes/Experimental.js#L19

[2016-11-22 05:59] systemroot commented on #35
thank you

[2016-11-22 06:08] Megabyte918 commented on #42
@PrinceDark9243 Oh crap! I forgot I closed this without even explaining why >.<
The last few updates to GameServer.js should have made it so cells switch order the same rate as vanilla, I tested it by doing multiple double-tricksplits and 4/5 times the cells did not switch order (they ended like this: ---+). Alot better than it was before.

[2016-11-22 08:40] t11tanYT opened #89 "New BUG"
in pl only 1 player  FIX

[2016-11-22 09:03] PrinceDark9243 commented on #89
yes its happens to me too!

[2016-11-22 10:03] RelTakeover opened #90 "bug"
the gamemode lms bug on client vanilla agar.io bug leaderboard...

after of a time the leaderboard dissapears

[2016-11-22 19:32] Fantasy-Agario commented on #74
Hmm , agario powerups just duplicates the playercell . so we need an option that only allows one IP per player

[2016-11-22 21:23] Tyler3D commented on #90
That's strange. Cause LMS doesn't change the leaderboard. So, that means this could happen on the other gamemodes.
@RelTakeover Have you noticed the same bug on any other gamemodes?

[2016-11-22 22:23] RelTakeover commented on #90
no , only on lms

[2016-11-23 00:40] NameYT opened #91 "Make an Skin Changer or Skin Picker That allows to get skin :)"
MC.showLevelUp(100,1,100) for kraken
This is only for veteran!! :)
hope it helps
Need a help tag :)

[2016-11-23 00:46] NameYT opened #92 "How to run the server 25mb +?"
how?

[2016-11-23 00:46] NameYT commented on #92
This also reduce lag ?

[2016-11-23 01:27] Jhair2015 commented on #91
@NameYT lol That's what I told @Megabyte918 MegaByte first xd
lol

[2016-11-23 01:32] NameYT commented on #91
@Jhair2015 So i can help players :3

[2016-11-23 01:33] NameYT commented on #91
@Jhair2015 u ahve skype? add me Samby

[2016-11-23 02:41] Megabyte918 commented on #90
@RelTakeover I could not reproduce this bug. Can you describe the steps you took to make it happen?

[2016-11-23 02:41] #90 closed

[2016-11-23 02:56] Megabyte918 commented on #91
@NameYT I don't know how to get that working for premium skins, but there is a special bit of code you can paste into the web console to get custom skins.
`core.registerSkin('yourname', null, 'linkofskin', 1, null)`

So for example if I wanted the Jade Dragon skin and the input box has my name "mega" in it, I would do this:
<pre>
core.registerSkin('mega', null, 'http://agario-skins.org/images/skin

[2016-11-23 02:56] #91 closed

[2016-11-23 02:57] NameYT commented on #91
@Megabyte918 That's what i meant but i want to have the same stroke :_3

[2016-11-23 02:58] NameYT commented on #91
@Megabyte918 When i enter it i cant see my name how

[2016-11-23 02:58] Megabyte918 commented on #92
@NameYT Depends on what you plan on using the extra memory for.
<pre>node --max-old-space-size=val index.js</pre>
So if I wanted to increase the memory my server ran on to 6gb i would do:
<pre>node --max-old-space-size=6144 index.js (memory is in mb)</pre>
or you could do:
<pre>node --stack-size=val (memory is in kb)</pre>

[2016-11-23 02:58] #92 closed

[2016-11-23 02:58] Megabyte918 commented on #91
What do you mean the same stroke?

[2016-11-23 02:59] NameYT commented on #91
![image](https://cloud.githubusercontent.com/assets/20871314/20549961/d603be1c-b16b-11e6-890e-a7c3f46d7cd4.png)
Look at the image! and the skin

[2016-11-23 02:59] NameYT commented on #91
Is that supposed to be like the dragon skin like that?

[2016-11-23 03:00] NameYT commented on #91
Also we cant see the nametags

[2016-11-23 03:00] Megabyte918 commented on #91
@NameYT I cannot do anything about that, It is a client-sided issue

[2016-11-23 03:00] NameYT commented on #91
@Megabyte918 So we need to do it with color? command

[2016-11-23 03:01] Megabyte918 commented on #91
You can if you'd like to

[2016-11-23 03:01] Megabyte918 commented on #89
I will check it out.

[2016-11-23 03:02] NameYT commented on #91
@Megabyte918 How? The Same Color as the Dragon Skin on original agar

[2016-11-23 03:02] Megabyte918 commented on #91
I don't know what the stroke color is, that you will have to find out for yourself

[2016-11-23 03:03] NameYT commented on #91
example wait image :3

[2016-11-23 03:03] NameYT commented on #91
THE BORDER OF THE SKIN :)

[2016-11-23 03:03] NameYT commented on #91
also u need to update the randomskin there are a new of them :3

[2016-11-23 03:04] NameYT commented on #91
![image](https://cloud.githubusercontent.com/assets/20871314/20550027/950364a2-b16c-11e6-9147-ecc5a5e6b96c.png)
Look at the mammoth skin :3 Thats what i meant @Megabyte918 The Border of every skin :3

[2016-11-23 03:07] Megabyte918 commented on #91
@NameYT Yes I know what you are talking about, but I cannot help you with that since it is a client-related issue.

[2016-11-23 03:12] NameYT commented on #91
@Megabyte918 Hmm okay but there is an extension that does this thing but i cant find it

[2016-11-23 03:13] NameYT commented on #91
@Megabyte918 What is the new update btw? is this like vanilla?

[2016-11-23 03:15] NameYT commented on #91
@Megabyte918
![image](https://cloud.githubusercontent.com/assets/20871314/20550183/20a543c6-b16e-11e6-8935-6a298fecba36.png)Same color as the skin same border that's what im talking bout

[2016-11-23 03:29] NameYT opened #93 "Bring Back TP COMMAND"
Pls

[2016-11-23 04:33] Tyler3D commented on #93
@NameYT Have you actually used the TP Command
cause I've never seen anybody use it. So, Mega removed it

[2016-11-23 04:34] NameYT commented on #93
@Tyler3D I always use it :) Tyler Do you know how to get a 100000% CHANCE POPSPLIT?

[2016-11-23 04:35] NameYT commented on #93
@Tyler3D Also tyler i also cant wait for pellet mode :3

[2016-11-23 04:36] Tyler3D commented on #93
@NameYT
1. Nope
2. Not making it.

[2016-11-23 04:37] Megabyte918 commented on #74
serverIpLimit = 2
serverMinionIgnoreTime = 5
serverMinionThreshold = 5
serverMinionInterval = 500
serverScrambleLevel = 3
playerBotGrow = 0

[2016-11-23 04:37] #74 closed

[2016-11-23 04:45] Megabyte918 commented on #93
@NameYT You can add the removed code from the TP command back yourself, I removed it because it seemed useless and nobody used it.

[2016-11-23 04:45] #93 closed

[2016-11-23 05:43] #89 closed

[2016-11-23 05:44] Megabyte918 commented on #67
I'm going to close this for now.

[2016-11-23 05:44] #67 closed

[2016-11-23 06:08] mafiakb opened #95 "playerRecombineTime = 1"
playerRecombineTime = 1? no working

[2016-11-23 09:11] NameYT commented on #95
its playerRecombineTime = 0 :) Close this issue pls

[2016-11-23 09:14] mafiakb commented on #95
need recombine time 1, don't 0

[2016-11-23 09:19] Megabyte918 commented on #95
@mafiakb Quote from Barbosik:

Otherwise, playerRecombineTime defines minimum limit for recombine time.
Actual time depends on the cell mass.

In MultiOgar, actual recombineTime depends on a cell mass and cell age.

[2016-11-23 10:01] NameYT commented on #95
@Megabyte918 r u adding pellet mode

[2016-11-23 10:09] Megabyte918 commented on #95
@NameYT I don't know.

[2016-11-23 10:09] #95 closed

[2016-11-23 10:13] NameYT opened #96 "Last Man Standing Bug!!"
When i put or change the console to **#

**

no leaderboard no score fix

[2016-11-23 10:42] systemroot commented on #96
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/gameserver.ini#L29
this is wrong or you.
btw as i have test. LMS work with 4.

[2016-11-23 11:04] RelTakeover opened #97 "add pm2 to the server"

[2016-11-23 11:09] RelTakeover commented on #96
same error

[2016-11-23 11:21] systemroot commented on #97
pm2 doesn't do what you think. i have test it!
that is for nothing.
if you want to clear ram etc then (talking for linux)
set up a cron job which run every 5min or 10 or whenever you what. with

[code]
if you want to restart server for some mins /h or whatever

[code]

then you can chose time for restart ex restart every 5min

[code]

that what pm2 do is ex if you have 4CPU pm2 will start your ser

[2016-11-23 15:48] Tyler3D commented on #96
@systemroot That seems to be the case. But, I'm wondering. HOW DA HELL did the Server work cause there's no gamemode 5

[2016-11-23 16:19] #97 closed

[2016-11-23 17:28] Jhair2015 commented on #91
@NameYT  My skype lol Ĵ✖҉✖҉✖҉ℜ 鿆 -

profile photo: "J" BIG xd

[2016-11-23 18:11] AlexandriteErikParacelsus commented on #91
@Jhair2015 I added you

[2016-11-23 18:27] Megabyte918 commented on #96
The leaderboard works fine for me.

[2016-11-23 18:35] Tyler3D commented on #96
@Megabyte918 Same

[2016-11-23 18:40] Jhair2015 commented on #91
@AlexandriteErikParacelsus  Ok!

[2016-11-23 21:31] #96 closed

[2016-11-23 21:31] AlexandriteErikParacelsus commented on #96
lmao same here

[2016-11-24 23:15] RelTakeover opened #99 "i need help"
i have a gamemode ( big cells and food) and the player start with 200 , because the food value is 150, because the people puts bots that they begin with 200 of mass , and i need that i can eat food bigger than myself , for that i can put the playerSTartMass values in 10

in summary I need the code to eat food bigger than me

[2016-11-25 05:27] PrinceDark9243 commented on #81
Its isnt wroking
Can u send me the cell.js file with that code!

[2016-11-25 06:16] MegaTerraNano opened #100 "Please PopSplit Same Size :=)"
tittle! :D

[2016-11-25 09:03] t11tanYT opened #101 "node 7.2.0"
Install Dependencies.bat error if i use node 7+

[2016-11-25 09:38] t11tanYT opened #102 "new commands"
killbots
killplayers
range ( example: minion start id end id amout name)
minion id amout name startmass maxstartmass speed (good idea)
lms start
lms  end
kicksmallerbots
kickbiggerbots
kilsmallerbots
killbiggerbots
repetition (example: minion amout to repeat time for 1 repeat amout name)

[2016-11-25 16:21] PrinceDark9243 commented on #102
Please dont try to make this Project Ogar Ul because Ogar Ul have many Features

[2016-11-25 16:21] PrinceDark9243 commented on #102
but one thing is good for server

[2016-11-25 16:26] PrinceDark9243 opened #103 "For Server"
Vanilla Agar.io have eject eat collision so how i can add collision on eject mass for players only not for virus because they cause fly throw virus but for players it ok!

[2016-11-25 16:27] PrinceDark9243 commented on #69
Can some one explain the gamerserver.ini Config about LMS!

[2016-11-25 16:34] PrinceDark9243 opened #104 "LMS!"
this happen when i set gamemode to 4 LMS
![image](https://cloud.githubusercontent.com/assets/17459204/20631085/a3d92016-b356-11e6-88fe-1f92d9639993.png)
![Uploading Failed...]()

[2016-11-25 17:51] CalvinDKL commented on #104
Same, i dont think he is done.

[2016-11-25 17:54] CalvinDKL opened #105 "Give minions by IP adress? or a permanent ID [SUGGESTION]"
Then its just easier, because i have like 100 playes daily
its a bit hard to find the right player.

Thanks!

[2016-11-25 22:03] AlexByte918 commented on #100
its a god idea!

[2016-11-25 23:48] Jhair2015 commented on #100
lol

[2016-11-26 14:52] Fantasy-Agario commented on #105
I'll see what i can do ! :D @CalvinDKL

[2016-11-26 15:00] Fantasy-Agario commented on #100
You can do this already , just practice XD @MegaTerraNano

[2016-11-26 15:00] #100 closed

[2016-11-26 23:38] SxxxxYT opened #106 "Add Pellet Mode! [suggestion]"
add
also the hotkey is P
Pellet Mode? = Minions Collect Pellet's Food Eat Each other like that
Hope you add it :)

[2016-11-27 00:13] Jhair2015 commented on #106
You are @NameYT lol

[2016-11-27 00:25] NameYT commented on #106
Why do your pick looks like a dic @SxxxxYT

[2016-11-27 01:33] NameYT opened #107 "Make Bots More Smarter!!"
Make them more smarter!

- **[Teaming with Each Other
- Farming Viruses
- Know how to tricksplit
- avoiding being `killed]**`

[2016-11-27 01:57] Jhair2015 commented on #107
@NameYT  It would kill the memory: /

[2016-11-27 03:39] Tyler3D commented on #107
I've seen bots do all of these

[2016-11-27 08:35] Fantasy-Agario commented on #107
@NameYT While having bots be smarter is a good thing , but like @Jhair2015 said it would make it more laggy

[2016-11-27 08:36] NameYT commented on #107
@Fantasy-Agario Then i just increase the server

[2016-11-27 08:36] Fantasy-Agario commented on #107
Do u mean the server RAM ?

[2016-11-27 08:37] NameYT commented on #107
@Fantasy-Agario By doing the command thiggy

[2016-11-27 08:37] Fantasy-Agario commented on #107
Which command

[2016-11-27 08:37] NameYT commented on #107
node --max-old-space-size=6144 index.js (memory is in mb)

[2016-11-27 08:37] NameYT commented on #107
do it on the command prompt folder

[2016-11-27 08:38] NameYT commented on #107
Also add pellet mode i've been waiting for that Minion Feauture for a long time i think it would be my christmas present :)

[2016-11-27 08:40] Fantasy-Agario commented on #107
Yes pellet mode would be a good feature but it would require a compatible client or at least a script

[2016-11-27 08:40] NameYT commented on #107
There is a script :) For Controls ERT maybe they can add it :)

[2016-11-27 08:41] NameYT commented on #107
Also Pellet Mode Is Helpful so they dont need to type or change the minionMaxStartSize like that

[2016-11-27 08:42] Fantasy-Agario commented on #107
True i'll work on that :D

[2016-11-27 08:43] NameYT commented on #107
![image](https://cloud.githubusercontent.com/assets/20871314/20646909/9c45da36-b4c0-11e6-94ef-513d17abec1e.png)
Lol look what im doing :3

[2016-11-27 08:43] Fantasy-Agario commented on #107
Ill close this as it is duplicated

[2016-11-27 08:44] NameYT commented on #107
Sure :)

[2016-11-27 08:44] #107 closed

[2016-11-27 08:44] NameYT commented on #107
How bout the Smarter Bots?

[2016-11-27 08:45] Fantasy-Agario commented on #101
Mine works fine , might be something with ur version

[2016-11-27 08:46] Fantasy-Agario commented on #99
hunger games is one option :D

[2016-11-27 08:46] #99 closed

[2016-11-27 08:47] #106 closed

[2016-11-27 08:48] #101 closed

[2016-11-27 08:49] Fantasy-Agario commented on #102
Ok ,

We did state that we don't want tooo many commands , but as we remove useless ones we might add new commands to the list :)

[2016-11-27 08:49] #102 closed

[2016-11-27 08:49] Fantasy-Agario commented on #104
Its still beta @PrinceDark9243 @CalvinDKL

[2016-11-27 09:00] Fantasy-Agario commented on #103
We dont have colision as it reduces lag

[2016-11-27 09:03] Fantasy-Agario commented on #107
Hmm , ill see i need to ask Megabyte first tho :)

[2016-11-27 09:28] #103 closed

[2016-11-27 09:32] NameYT opened #108 "You Want Skins? [OPEN] [ANNOUCEMENT]"
Here you go guys :)
Code :
// ==UserScript==
// @name         Agar.io custom skins
// @version      0.1
// @description  Custom Skins for Agar.io
// @author       Megabyte918
// @match        *.agar.io/*
// @grant        none
// ==/UserScript==

function setSkin() {
    if (document.getElementById('skin').value.match(/^http(s)?:\/\/(.*?)/)) {
        localStorage.setItem("skin", document.getElemen

[2016-11-27 09:39] NameYT commented on #108
@Megabyte918 @Fantasy-Agario @everyone just paste it on tampermonkey :)

[2016-11-27 17:40] Megabyte918 commented on #107
#27

[2016-11-27 17:41] Megabyte918 commented on #104
@PrinceDark9243 It looks fine for me, what exactly is wrong there?

[2016-11-27 17:45] Megabyte918 commented on #105
@CalvinDKL refer to #13

[2016-11-27 17:45] #105 closed

[2016-11-27 19:45] Tyler3D commented on #108
XD he stole Megabyte918's code

[2016-11-27 21:15] Megabyte918 commented on #108
@NameYT I have just created a new folder that holds all of the scripts, so this is not needed anymore. But thanks anyway :)

[2016-11-27 21:15] #108 closed

[2016-11-28 05:15] Gimmo commented on #104
Mass

[2016-11-28 08:40] Megabyte918 commented on #68
@PrinceDark9243 If rush mode was to be added, I am unable to add those specific physics for the mode as it would cause lag, even when the mode is off.

[2016-11-28 08:45] Megabyte918 commented on #8
Welp I tried, failed, tried again, failed, I do not know how to work with AI whatsoever. I'm sorry to say this but I might not be able to add pellet mode.

[2016-11-28 08:47] Megabyte918 commented on #21
@Fantasy-Agario Do we still need this issue? There's already a clients section in the readme, I could add your client to it if you'd like

[2016-11-28 09:34] Megabyte918 commented on #55
Most people don't give minions to bots, so if they want to they can just remove that part of the code. There is no easy solution to this problem or at least that I can find so I will close this for now.

[2016-11-28 09:34] #55 closed

[2016-11-28 11:16] MineMooreALT opened #110 "Random skin?"
How to make Minions have random skins i see the code in packethandler but dont know how to use it :/
`                skinName = (inner == "r") ? "%" + this.getRandomSkin() : "%" + inner;
`

[2016-11-28 11:49] NameYT commented on #110
just do in the command
`minion 1 100 < r > Remove the space :)
`

[2016-11-28 11:54] MineMooreALT commented on #110
kk thx

[2016-11-28 11:55] #110 closed

[2016-11-28 14:33] Lukkez opened #111 "How to make a cmd"
I wanted to make a command called /id for the chat(using Cigar) to get the ID of the player someone can send the code of the function to get the player ip?

[2016-11-28 14:42] ZfsrGhS953 commented on #8
I'm don't develop Petridish Ogar anymore, so maybe I'll try to make a pellet mode because I have more free time now.

[2016-11-28 15:37] Gimmo opened #112 "Question on Server structure"
Where can I found object, containing all user IDs along with their mass/size/coordinates and maybe some optional data?
I want to to play with store/restore this for possible server crash/restart, sharing for scaling and so on .
Thanks.

[2016-11-28 15:39] Fantasy-Agario commented on #112
Hmm , do

and u get the ID's

[2016-11-28 15:39] Fantasy-Agario commented on #112
For the rest we could introduce a new feature :)

[2016-11-28 15:41] Fantasy-Agario commented on #111
hmm , you could do this yourself , becouse i don't think this should be an official feature , unless @Megabyte918 decides otherwise :D

[2016-11-28 15:44] Gimmo commented on #112
The game itself should have memoty block, containing this info, without any prosthetic limbs. Am I wrong?

[2016-11-28 16:03] ZfsrGhS953 commented on #8
I'm now preparing my pull request for collect pellets feature. Quick facts about it:
Q is used to control collect pellets mode
It can be disabled in config
Target is recalculated every 10 ticks (400ms)
It only reduces performance by 15%
It's possible to fill the entire map with cells without leaving any spot open with 5000 minions, if you change food spawn settings to max in config.

[2016-11-28 16:47] ZfsrGhS953 commented on #112
Yes, it's called "this.gameServer.clients"

[2016-11-28 17:03] Lukkez commented on #111
I do not want this to be official feature, it's because I can't find the code

[2016-11-28 19:42] Gimmo commented on #112
Thank you. This is exactly what I had in mind.

[2016-11-28 20:25] #112 closed

[2016-11-28 20:28] Megabyte918 commented on #111
@Lukkez You asking how to add a command to Cigar here?

[2016-11-28 20:35] Megabyte918 commented on #8
@ZfsrGhS953 Dayum your good! Also, why have you stopped developing Petridish Ogar? I thought it was a good project :3

[2016-11-28 21:40] Fantasy-Agario commented on #111
@Megabyte918 Hey , we haven't talked for a while , I can't help with the Multi-Ogar Edited today as I only have my phone , but as I can tomorrow 🙂

I hope things are going good for u buddy , I'll give u more detail later why I was away 🙂

[2016-11-29 00:04] Megabyte918 opened #114 "Question for everyone"
Hello everybody! I have a question to ask regarding minion controls. Which does everyone prefer? I'm contemplating getting rid of the Q controls and only leave the ERT controls, but I'm not sure if you guys will still want them or not.

I need everyone to vote on which will stay, ERT or Q. I have created a strawpoll so that you guys can vote.
**Remember, you can only vote once!** So be honest and

[2016-11-29 00:30] Jhair2015 commented on #114
E - R - T - I VOTE!

[2016-11-29 00:46] Megabyte918 commented on #111
@Fantasy-Agario Its alright, thanks and I hope to see you soon :)

[2016-11-29 01:00] Gimmo commented on #114
What are we talking about? It's a client feature.!!!  That's why I vote E - R - T
Performance most of all!

[2016-11-29 02:20] AlexandriteErikParacelsus commented on #114
Just leave it as it is

[2016-11-29 07:30] Fantasy-Agario commented on #114
i agree with @AlexandriteErikParacelsus  leave it as it is :)

[2016-11-29 07:31] Fantasy-Agario commented on #111
Hope to see ya soon too :D

[2016-11-29 07:58] Gimmo opened #115 "New mode proposal"
I offer a new mode. TAX mode.

Keywords:: Anti Teaming, Anti Monsters Domination, Newcomers Friendly.

1. Cell's life time has price. Cell loose a percent of mass per time (more motion - better life).
2. Cell pay a LifePrice by emitting a food. Of course, Cell can come back and eat it. It should oscillate just to stay alive,or move collecting food. Monster max size automatically (without programmi

[2016-11-29 10:58] PsycoYT opened #116 "Please help me !"
Hello developers , i have a Big server ( with food of 100 points )

And i cant eat this big food when i am smaller than this , how to modify this?

Thanks much

[2016-11-29 17:35] Fantasy-Agario commented on #21
No we don't need this and if you could add it to the readme that would be great :)

[2016-11-29 17:45] #21 closed

[2016-11-29 20:16] Megabyte918 commented on #115
@Gimmo
1) Lag
2) Lag
3) Can be done, but mostly pointless because of the spawn protection. You wont spawn near someone that will immediately splitkill you (most of the time) anyway
4) Can be done, but why wouldn't you want to eat 100% of the mass? if your just a solo player then its kinda pointless.

[2016-11-29 20:20] Megabyte918 commented on #116
Duplicate of #31, #57, #87, #99.

[2016-11-29 20:20] #116 closed

[2016-11-29 21:07] Gimmo commented on #115
@Megabyte918
3. OK, but first part (not eatable before legal age / mass) still important for beginners. I test some games, and often was killed on very begining, just starting game, without understanding something at all. It's very disappointing.
4. In teamwork one of most popular tactics - support leader by injection(share) of mass . If it will cost - single player will have slightly more chances

[2016-11-29 21:48] Fantasy-Agario commented on #115
@Megabyte918 Sorry I had to go off c9 I will be back on tomorrow tho 🙂

[2016-11-29 23:13] Lukkez commented on #111
![](http://image.prntscr.com/image/f6d2d18aad7241fa881f87ba81f1c00f.png)

[2016-11-29 23:14] Lukkez commented on #111
How?

[2016-11-30 00:55] Megabyte918 commented on #114
I have found a compromise.

[2016-11-30 00:55] #114 closed

[2016-11-30 00:55] Megabyte918 commented on #104
I'm going to close this...

[2016-11-30 00:55] #104 closed

[2016-11-30 01:28] Megabyte918 commented on #115
@Fantasy-Agario its alright
@Gimmo
3. I just realized, in order for cells to ignore collision when they first spawn would cause tremendous lag. You would need to set a timeout on the eat collisions per every player spawned, and that means that all those timeouts running/piling up every time someone spawns would decrease performance by a tremendous amount. I don't think it would be a good idea espe

[2016-11-30 01:29] NameYT commented on #115
@Megabyte918 Can you give me a code for the Bot Smarter? i have 3 TB Computer and fast :)

[2016-11-30 01:32] Megabyte918 commented on #111
@Lukkez to get a player's id by using the `this.pID` variable in PlayerTracker. Or if you would like the opposite, see the `playerById` function in CommandList

[2016-11-30 01:34] Megabyte918 commented on #115
@NameYT that code doesn't exist, and you should be thanking @ZfsrGhS953 for making pellet mode :)

[2016-11-30 01:59] NameYT commented on #115
@Megabyte918 I mean the calculation :)

[2016-11-30 02:05] Megabyte918 commented on #21
@Fantasy-Agario I added it, but I do not know the protocol version because I am unable to connect to it for some reason. Can you tell me the protocol version your client uses so I can add it?

[2016-11-30 02:12] Vvrrick commented on #21
Hi I'm new, I was wondering if it's possible to revert back to the old agar physics? Like how mgar.io has. I think it uses multiogar, but I can tell it has the old agar physics because it's a hell of a lot smoother.

[2016-11-30 02:49] NameYT opened #117 "I cant run the server up to 25+ GB [HELP]"
![image](https://cloud.githubusercontent.com/assets/20871314/20737918/9a72d41c-b6ea-11e6-88b2-9075a9f252e7.png)

[2016-11-30 02:50] NameYT commented on #117
@Megabyte918

[2016-11-30 03:10] Megabyte918 commented on #117
@NameYT you must run the command from inside of /src, not /run

[2016-11-30 03:12] NameYT commented on #117
@Megabyte918
![image](https://cloud.githubusercontent.com/assets/20871314/20738410/e2aa702a-b6ed-11e6-8c7f-32541fcad0da.png) Still an error

[2016-11-30 03:44] NameYT commented on #117
@Megabyte918

[2016-11-30 03:47] Megabyte918 commented on #117
@NameYT Exit out of the terminal, open src, shift + right click, "open command window here", then type the command

[2016-11-30 03:51] NameYT commented on #117
I dont understandt you what terminal?

[2016-11-30 03:51] NameYT commented on #117
okay nvm i did it

[2016-11-30 03:52] NameYT commented on #117
@Megabyte918
![image](https://cloud.githubusercontent.com/assets/20871314/20739167/72876a40-b6f3-11e6-81b0-da3ba2ece5d7.png)Still error!

[2016-11-30 03:52] Megabyte918 commented on #21
@Vvrrick it's not *impossible*, but it would require a ton of work. It would require a rewriting of the entire collision engine, aswell as the move engine

[2016-11-30 04:01] Megabyte918 commented on #117
@NameYT
1) press the "x" located top right of the command window (the black box with white text in it on the screen)
2) go to the navigation bar (the bar that says MultiOgar-Edited-master > run)
3) click on MultiOgar-Edited-master in the navigation bar (do not click on run)
4) once your in the MultiOgar-Edited-master folder, double click on the folder named "src" directly underneath the "run" fold

[2016-11-30 04:05] Vvrrick commented on #21
@Megabyte918 couldn't I take something (not sure what) from an old private server like ogarserv? Or is it more complicated than that?

[2016-11-30 04:27] Megabyte918 commented on #21
@Vvrrick it is much, much more complicated im afraid

[2016-11-30 04:28] #111 closed

[2016-11-30 05:21] Vvrrick commented on #21
@Megabyte918 do you plan to make performance a bit better in future updates?

[2016-11-30 07:14] Megabyte918 commented on #21
@Vvrrick Of course! when this project first started the performance was 2x slower than the original MultiOgar, but due to my recent optimizations it is now equal. I will not stop until performance has greatly surpassed the original MultiOgar's, and I'm getting pretty close.

[2016-11-30 08:32] NameYT opened #118 "@ZfsrGhS953 Help"
Where i can change the settings?
So we can popsplit easy
Ex :
With Any Mass
Long Range
Short Range
Close Range
Quad long range like that?

popsplit

[2016-11-30 08:32] NameYT commented on #118
@ZfsrGhS953

[2016-11-30 08:42] NameYT opened #119 "Help! Line Split Not Working!"
Fix! Only working halftime

[2016-11-30 08:47] #118 closed

[2016-11-30 08:51] NameYT commented on #119
@Megabyte918

[2016-11-30 09:14] ZfsrGhS953 commented on #119
Here's how to fix it:
[This line](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/entity/PlayerCell.js#L58) should be:
[code]
The line above should be removed.
[This line](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/entity/PlayerCell.js#L49) should be:
[code]

[2016-11-30 09:43] NameYT commented on #119
@ZfsrGhS953 Do you know how to change splitMass so i can get a better chance of popsplits?

[2016-11-30 09:45] PsycoYT commented on #119
@ZfsrGhS953  if i pay you , you can do a client to me

[2016-11-30 10:59] Gimmo commented on #115
@Megabyte918

3. LegalAge can be Maximal Mass In This Session, not a timer.
Can we limit collisions with same algorithm as used to ignore collisions of small cells with viruses? Can it help to avoid lags?

[2016-11-30 13:17] t11tanYT opened #120 "i cant split and eject minions!!!!"

[2016-11-30 14:50] Gimmo opened #121 "Identification / Authorization"
I can't see any identification mechanics. As I see - anyone can send a command to my Cell by a packet with  my pID (which is a simple number).
If I temporary lost connection , I can only respawn a game with new pID, or I can be identified to continue last game?
Can I use Token -> serverbound packet:80 for user Authorization and how should I do this?

Please explain.

[2016-11-30 18:42] lotfis commented on #120
press Q to enter minions controls & press Back Q to enter ur cell controls

[2016-11-30 19:09] Vvrrick commented on #21
@Megabyte918 is there a way to edit the split speed? Ex:split same distance as a regular split, but slower or faster?

[2016-11-30 20:09] #119 closed

[2016-11-30 20:45] Megabyte918 commented on #115
@Gimmo Not a good idea either:
That means that every single cell under the specified mass ignores eat collisions. Example: lets say that the specified mass is 50. That means that every cell on the server under 50 mass will ignore collision. This includes ignoring food, viruses, ejected cells, and itself (they will not collide with each other as in if the two cells were to touch, they would just go

[2016-11-30 21:04] Megabyte918 commented on #21
@Vvrrick Yes there is.
For split speed: Edit the speed variable [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/entity/Cell.js#L101)
For split distance: Edit the value of 780 [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L793)
For collision-restoration time: Edit the two values of 15 [here](https://github.com/Megabyte918/MultiOgar-Edite

[2016-11-30 21:31] Megabyte918 commented on #121
Fixed.

[2016-11-30 21:31] #121 closed

[2016-11-30 22:08] Megabyte918 commented on #120
@t11tanYT Works fine for me, using Q and ERPT. If your using ERPT make sure your using the script, your using the Agar.io client, and it is enabled in config.

[2016-11-30 22:08] #120 closed

[2016-11-30 23:44] Gimmo commented on #115
OK, I think a temporary solution can be to find an empty space and spawn new cell in it's center instead of random place. May be mini-map can be used for this?

[2016-12-01 00:38] Megabyte918 commented on #115
@Gimmo the server already does that

[2016-12-01 01:08] Gimmo commented on #115
May be I have a bad lack - to be killed on start almost always.
Thanks. I'll return to this later. (Have had to learn Ogar more)  :)

[2016-12-01 03:43] Megabyte918 commented on #115
Alright, I will close this for now.

[2016-12-01 03:43] #115 closed

[2016-12-01 04:10] #8 closed

[2016-12-01 07:37] VexxusArts opened #122 "Server stops connecting"
I have a weird issue.

So servers are running fine then suddenly server goes "down"

I checked my linux and saw that server process was still running fine, I could even connect to the screen and send commands etc and there was 0 errors. I checked log file also 0 error. And stats port worked fine. Basically everything working fine but no one can connect to that server and i had to restart to fix it

[2016-12-01 08:33] t11tanYT commented on #120
@Megabyte918  i use script ert and p and in config 0 my minions only collect pullets

[2016-12-01 09:41] NameYT opened #123 "Agario Page Not Working!!"
When i do agar.io/?ip=localhost:443
My page is stoping on agario i cant close the tab....
i have 2 scripts only why

[2016-12-01 09:42] PsycoYT commented on #122
same error

[2016-12-01 09:48] NameYT commented on #123
@Megabyte918
![image](https://cloud.githubusercontent.com/assets/20871314/20789124/514e2232-b7ee-11e6-9750-3e30cf337bdd.png)

[2016-12-01 10:23] MineMooreALT commented on #123
only you samby

[2016-12-01 10:24] NameYT commented on #123
lol

[2016-12-01 11:24] systemroot commented on #122
with what command do you start your server when this happen?

[2016-12-01 11:31] Firekix commented on #123
Yea fr me too its not loading..... Iam using 2 scripts together(custom skins and E R controls).....

[2016-12-01 12:43] PsycoYT commented on #122
@systemroot  i star my server without pm2 and i have same error

[2016-12-01 12:44] PsycoYT opened #124 "How to.."
Hello guys, how to change the cell color depending the skin?

[2016-12-01 13:13] Gimmo commented on #123
Todays version working fine with diferent clients including agar.io. Check your setup.

[2016-12-01 13:24] ZfsrGhS953 commented on #123
There may be some conflicts when you use more than one script. They don't happen always, but in your case (custom skins and ERTP controls) a conflict happened. Disable the script that's less necessary for you.

[2016-12-01 18:03] Jhair2015 commented on #124
text on cmd:  color ID "RGB color"  @PsycoYT

[2016-12-01 18:58] PsycoYT commented on #124
DEPENDING SKIN

[2016-12-01 20:22] Megabyte918 commented on #120
@t11tanYT make sure you don't have any other macros or anything else using the same controls

[2016-12-01 20:24] Megabyte918 commented on #124
@PsycoYT Not possible as the server cannot predict what skin you are going to input and what color will match said skin from the script.

[2016-12-01 20:24] #124 closed

[2016-12-01 20:35] Megabyte918 commented on #122
@VexxusArts I cannot help you as it is not a server-sided problem. Check if there is something wrong with the client you are using, your network, check if your ports are set up correctly, try using a different browser, or disable extensions/scripts

[2016-12-01 20:35] #122 closed

[2016-12-01 20:55] systemroot opened #125 "Segmentation fault, wut"
i got a new dedicated server and i was trying to setup a server.
so i started, i start to play i add 1K minions for myself after 1 min server is closed with a output **" > Segmentation fault "**

reading somewhere in google about that http://stackoverflow.com/questions/3200526/what-is-a-segmentation-fault-on-linux

anyone know how to fix this?!

[2016-12-01 22:34] VexxusArts commented on #122
other people have the same error tho..

[2016-12-01 22:43] Megabyte918 commented on #123
@NameYT It's because the URL of the skin that you are using is invalid, make sure it ends with .jpg, .bmp, .png, or .gif

[2016-12-01 22:51] Megabyte918 commented on #122
@VexxusArts If they are all using the same client that you are using to connect to the server with, and they can't connect either, then it is a problem with the client. Either that or you don't have your ports setup correctly.

[2016-12-01 23:06] Megabyte918 commented on #125
@systemroot interesting.. is this reoccurring or did it just happen once?

[2016-12-01 23:07] systemroot commented on #125
@Megabyte918 it's happening everytime i can you i can't play with it :/

[2016-12-01 23:10] Megabyte918 commented on #125
Try reverting https://github.com/Megabyte918/MultiOgar-Edited/commit/4e084a315f7d5ebcff768e9ef0a258e5ef8a71b0

[2016-12-01 23:32] Tyler3D commented on #125
@Megabyte918 Can you go to Cloud 9?

[2016-12-01 23:40] systemroot commented on #125
@Megabyte918  that did the magic https://vid.me/vHm1
thank you :+1:

[2016-12-01 23:40] #125 closed

[2016-12-02 02:31] rjay222 opened #127 "Is the skin command not working or i need to do something else?"
If i do `skin 1 kraken or <kraken>` i get the error `gameServer.getPlayerById is not a function`. If its not working, will it ever be? The skin script is cool but it doesn't give you the borders...

[2016-12-02 02:33] Tyler3D commented on #127
@rjay222 IDK why he added back the skin command cause, the clients doesn't let the server choose the skin. Maybe its still work in progress?

[2016-12-02 03:01] rjay222 commented on #127
**Nvm, i already understood everything. I'm closing this.**

[2016-12-02 03:01] #127 closed

[2016-12-02 03:12] rjay222 commented on #127
@Megabyte918 btw the skin script doesn't let you see the other cell skin when youre multiboxing.

[2016-12-02 04:14] Megabyte918 commented on #123
Fixed, sorry for the long wait

[2016-12-02 04:14] #123 closed

[2016-12-02 05:51] Vvrrick commented on #21
@Megabyte918 I turned on the server tracker so people could join my server (u-bot.ml). Every person that joins gets 10 42 mass bots, but even though I turn on the server scramble to 3, it doesn't scramble at all. Only the minimap. I've also tried 2. The reason I'm bringing this up is because people use extensions to gain their own minions which really lag and slow down the server. When they leave,

[2016-12-02 06:08] Megabyte918 commented on #21
@Vvrrick Try it with these settings:
serverIpLimit = 2
serverMinionIgnoreTime = 5
serverMinionThreshold = 5
serverMinionInterval = 500
serverScrambleLevel = 3
playerBotGrow = 0

[2016-12-02 06:19] Vvrrick commented on #21
If by host you mean vps? None, I just have server tracker enabled and start the server

[2016-12-02 08:17] VexxusArts commented on #122
I have tested with multiple clients. Server is running fine then suddnly no one can access.

[2016-12-02 08:22] Megabyte918 commented on #122
@VexxusArts Then it is either your network or the way you have your ports setup, I cannot help you with this problem because this has nothing to do with MultiOgar.

[2016-12-02 17:32] systemroot commented on #125
@Megabyte918  it's happening again any idea what i can do else!?

[2016-12-02 17:34] Fantasy-Agario opened #128 "Client"
# Client

Does anyone want me to make an official client for this project ?

[2016-12-02 18:03] ZfsrGhS953 commented on #128
Yes! Will the client have its own protocol?

[2016-12-02 18:34] Jhair2015 commented on #128
Yeah!

[2016-12-02 18:44] Fantasy-Agario commented on #128
@ZfsrGhS953 Once I get the base done I will work on protocols :D

[2016-12-02 19:27] Vvrrick commented on #21
@Megabyte918 is there a way to change the player's w accuracy? Like when you w in the private server, it goes more straight towards your cursor if that makes sense. In normal agar, when you eject mass, the w doesn't go exactly where your cursor is, just in that general area. In the private server, the area the mass ejects is closer to the cursor. How would I change that if possible?

[2016-12-02 20:14] Megabyte918 commented on #125
@systemroot I couldn't reproduce this error.. try using something else than your new server and if the problem doesn't happen, then it is a problem with that server. Let me know the results

[2016-12-02 20:18] Megabyte918 commented on #21
@Vvrrick try editing somewhere around these lines in GameServer:
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L1144-L1154

[2016-12-02 20:44] CalvinDKL commented on #128
Cool!

[2016-12-02 21:13] systemroot commented on #125
i rebuild server and i changed os from centos to ubuntu,  idk how but this solved my problem

[2016-12-02 21:55] MastaCoder commented on #128
Why not just make Cigar compatible with it?

[2016-12-02 22:19] Fantasy-Agario commented on #128
It is compatible with Cigar but our own client would be more "Expandable"

[2016-12-03 03:12] MastaCoder commented on #128
Expandable to what?

[2016-12-03 03:17] Vvrrick commented on #21
@Megabyte918 sorry for bothering you again lol, but you know how when you split into more pieces, the transition from seeing a smaller area to seeing a larger area is there? Is there anyway to remove the transition to make it like the old agar transition?

[2016-12-03 03:54] MastaCoder commented on #7
@AlexandriteErikParacelsus We can finally put on the Andrew triggered profile pictures! He's finally triggered: https://github.com/AJS-development/OpenAgar/issues/12 (Scroll down)

[2016-12-03 06:08] AlexandriteErikParacelsus commented on #7
Ah, I have a better triggered andrew in my pc, I will pull that up tommorow @mastacoder

[2016-12-03 06:16] AlexandriteErikParacelsus commented on #7
He triggered so hard that he locked the conversation.

[2016-12-03 06:36] AlexByte918 opened #130 "Answer me"
Exist a library to Pellet mode? wtf?

see, this guy use pellet mode

https://www.youtube.com/watch?v=IaB23Cf3Qp0

[2016-12-03 06:40] AlexandriteErikParacelsus commented on #130
It's already merged. Check gameserver.ini file

[2016-12-03 06:40] #130 closed

[2016-12-03 06:56] AlexByte918 opened #131 "How to enable this?"
How to enable pellet mode, plz help me

[2016-12-03 07:16] AlexByte918 opened #132 "how to that omg"
WTf in this page yourself see your skins, how as that omg another plz explain me? WTF

http://minemoore.uk.to/agar/

[2016-12-03 08:29] Megabyte918 commented on #68
@NoiseControllers It is being worked on

[2016-12-03 08:42] Megabyte918 commented on #7
Jesus Christ

[2016-12-03 08:50] Megabyte918 commented on #21
@Vvrrick You can change the scale of the viewbox in these places:
github.com/Megabyte918/MultiOgar-Edited/blob/master/src/PlayerTracker.js#L178-L182
github.com/Megabyte918/MultiOgar-Edited/blob/master/src/PlayerTracker.js#L186-L189
github.com/Megabyte918/MultiOgar-Edited/blob/master/src/PlayerTracker.js#L281-L289
Either those or its client-related.

[2016-12-03 08:57] Megabyte918 commented on #132
@AlexByte918 It is a different client. MiniClip has patched skins on private servers on their client so you won't be able to see your own skin. If you want to see your own skin use the CustomSkins script in the /scripts folder.
Also, don't make issues for simple questions like this, it's not worth it.

[2016-12-03 08:57] #132 closed

[2016-12-03 09:03] Megabyte918 commented on #131
@AlexByte918
Paste the contents of the ERTPcontrol script into tampermonkey
Start the server, make sure collectPellets is set to "1" in gameserver.ini
Add your minions and press the "P" key to make them collect pellets

[2016-12-03 09:03] #131 closed

[2016-12-03 10:45] firelightning13 commented on #7
huh

[2016-12-03 12:26] CalvinDKL opened #133 "Player command /id"
Hello! so i was making this player id command /id so players can see their id.
Now when i add the command so i can do /id in the chat it works but then i try adding the PlayerID thing it crashes.

https://gyazo.com/a4ecc1429634ce03801d66ba252b38d5

it that right?

sorry if its hard to understand.

[2016-12-03 12:35] Megabyte918 commented on #133
@CalvinDKL
<pre>
id: function (args) {
    this.writeLine("ID: " + this.playerTracker.pID);
},
</pre>

[2016-12-03 12:35] CalvinDKL commented on #133
Aha!, let me try.

[2016-12-03 12:38] CalvinDKL commented on #133
Mega, maybe you can add it to this project?? i mean i got it to work, but maybe other people would want it.

[2016-12-03 12:39] Megabyte918 commented on #133
Yeah sure

[2016-12-03 12:45] #133 closed

[2016-12-03 13:42] t11tanYT opened #134 "More functions for minions"
delay for minions(new setting) MinionsDelay = (time in milliseconds) This setting add delay for follow mouse ( like bots with proxy)
MinionSpawnDelay =  (time in milliseconds) This setting add delay after spawn minion (delay
before move to mouse)
MinionMoveToCell = 0 (1 on 0 off)
Please, add it (i want this minions like old days, and this settings
diversify minions )

[2016-12-03 13:45] t11tanYT commented on #134
Please add this settings (i know 50% and more people want
this )

[2016-12-03 14:06] Megabyte918 commented on #134
@t11tanYT

No point in adding delay, as you can just disconnect the bots or kill them.

before move to mouse)

Read this: https://github.com/Megabyte918/MultiOgar-Edited/issues/115#issuecomment-263755354, the same thing would apply for MinionSpawnDelay.

Pointless, because you can just freeze the minions by using T

[2016-12-03 14:47] Gimmo opened #135 "Authorization / Identification #3"
Where server is behind a load balancer, it must identify the user each time this user connects.
That's why to use a token packet (https://github.com/forairan/agar.io-protocol/blob/master/protocol.md -> **Packet 80**).

1. Balanser(or ClientServer) will send a random Token to the client.
2. Balanser send the same Token to the server.
3. For each connection, the client sends the Token to the server.

[2016-12-03 15:12] Megabyte918 commented on #135
What?

[2016-12-03 15:23] Gimmo commented on #135
What is wrong? It's just a question. Can you point me where (var or property) server store recieved Token?

[2016-12-03 16:17] Fantasy-Agario commented on #135
We cannot do this for legal reasons as it falls under Sec. 103(f) of the DMCA (17 U.S.C. § 1201 (f)
laws

In other words it accounts as Illegal Reverse Engineering

[2016-12-03 16:20] Fantasy-Agario commented on #135
We cannot do this as it accounts for illegal Reverse Engineering

[2016-12-03 16:20] #135 closed

[2016-12-03 16:42] MastaCoder commented on #7
@AlexandriteErikParacelsus He had no proof, so he had to defend himself by locking the conversation.

[2016-12-03 17:31] AlexandriteErikParacelsus commented on #7
@mastacoder, I was once visit polar's discord and see you as a moderator. But I don't see you discuss anything botting services or shits like that.

[2016-12-03 17:32] AlexandriteErikParacelsus commented on #134
The move to cell feature is pretty useless in my opinion

[2016-12-03 20:32] MastaCoder commented on #7
@AlexandriteErikParacelsus @LegitSoulja said:

Bet he doesn't even know what the license of OpenAgar means (GNU v3). They slapped it on so they can look like an Open Source project.

[2016-12-03 20:34] AlexandriteErikParacelsus commented on #7
@MastaCoder LMFAO XDD

[2016-12-03 21:56] CalvinDKL opened #137 "Minions on my server."
Some dude made minions on my server, the scramble level is all the way up.
Please secure it more!

[2016-12-03 21:58] Megabyte918 commented on #137
@CalvinDKL See if it still happens with these settings:
serverIpLimit = 2
serverMinionIgnoreTime = 5
serverMinionThreshold = 5
serverMinionInterval = 500
serverScrambleLevel = 3
playerBotGrow = 0

[2016-12-03 22:00] CalvinDKL commented on #137
ok, but isnt scramble level 4 better?

[2016-12-03 22:00] MastaCoder commented on #137
Scramble won't just help @CalvinDKL

[2016-12-03 22:00] CalvinDKL commented on #137
ohh, alright. let me try.

[2016-12-03 22:02] CalvinDKL commented on #137
Doesnt just playerbotgrow do it for ppl that is using bots via the console?

[2016-12-03 22:02] MastaCoder commented on #137
@CalvinDKL Try this as well. Edit your main_out.js and the server, add a packet with some sort of formula or something in it so that they can't find it, then obfuscate the code. As well as use some PHP to change the canvas ID everytime the page loads.

This isn't a 100% sure fire method, but it stalls the heck out of them.

[2016-12-03 22:03] MastaCoder commented on #137
@CalvinDKL No, it stops even players. :)

[2016-12-03 22:04] CalvinDKL commented on #137
Cool, so just a random packet??

[2016-12-03 22:06] MastaCoder commented on #137
Yeah. Try to add some stuff behind your code so that they can't join with their normal client. Maybe change some packets, update some things. However, if you do this you'll have to port if everytime MultiOgar gets updated.

[2016-12-03 22:07] CalvinDKL commented on #137
ye, thats the downside.

[2016-12-03 22:08] MastaCoder commented on #137
Also it's not sure fire. It is very easy to unobfuscate the code, this is the only bad part of .io games. The JS code is available for anyone to view.

[2016-12-03 22:08] CalvinDKL commented on #137
I have an older version of multiogar edited, so i dont have the playerbotgrow thing. ill try without it, and if it still doesnt work ill update all my servers :)

[2016-12-03 22:09] CalvinDKL commented on #137
MastaCoder, remember i made a issue with the spectate bug?

[2016-12-03 22:10] MastaCoder commented on #137
For Cigar?

[2016-12-03 22:12] CalvinDKL commented on #137
Yes, i know i need to post it on there but wut eva lol.
Uhmm, the same thing happens in the menu bit.

https://gyazo.com/dab6db289bac2ac8cd5b9216c18bad85

[2016-12-03 22:12] CalvinDKL commented on #137
Just thought i would let you know :)

[2016-12-03 22:13] CalvinDKL commented on #137
And same with the minimap. Players are begging but the minimap gets scrambled and dont work. So i removed it for now.

[2016-12-03 22:13] MastaCoder commented on #137
Yeah I know about that. Still don't know why it's happening exactly. All I know is that it might be because of the scramble updating constantly and the client catching up, but ending up in the same area.

[2016-12-03 22:13] CalvinDKL commented on #137
Ye, can i do a pull request thing? I can add a minimap to cigar if u want to.

[2016-12-03 22:20] MastaCoder commented on #137
I don't think we need a minimap for Cigar, they break once you scramble anyways 👍

@Megabyte918 I'm working on an update right now, prepare for the PR quite soon :)

[2016-12-03 22:21] CalvinDKL commented on #137
Masta, what update? tell me, NOWOWW! xD

[2016-12-03 22:28] CalvinDKL commented on #137
THe bots are completely patched, but so i the borders i added. they are gone.

[2016-12-03 22:30] Fantasy-Agario commented on #128
To adding more features as we go along :)

[2016-12-03 22:30] #128 closed

[2016-12-03 22:31] CalvinDKL commented on #137
The scramble level 3 destroys all my good features............................
isnt there a bit of code u can add so the server sees to not patch the map or borders??

[2016-12-03 22:43] MastaCoder commented on #137
Oh it wasn't a big update, just some cleaning up @CalvinDKL 😄

Thats the whole point of scramble, to stop bots from knowing where the borders are and where they are on the map. That's why I said I can't add a minimap or border to the client 👍

[2016-12-03 22:46] CalvinDKL commented on #137
ok................ i see.
FUUUU, that sucks a lot. I mean other private servers are too big to care about it xD

[2016-12-03 22:50] NameYT commented on #134
@Megabyte918 How to make bot smarter how about the calculation? i cant run my server 25+ GB make a video i dont understand you or just screenshot it :)

[2016-12-03 23:00] FantasyIsBae opened #139 "Update"
# Client

I have made a basic client It can be found here : [Multi-Ogar Client](http://multiogar-edited.pe.hu/)
Don't be disappointed by the looks as I will be adding more features in the near future :)
(I'm already planning a new client :D)

# Forum

I was wandering if anyone wanted a forum ? :D

[2016-12-03 23:01] Jhair2015 commented on #139
Nice! :D

[2016-12-03 23:03] Jhair2015 commented on #139
Hide Grid - Dark Theme *bug*

i select "HideGrid" And automatically set on white background and not on darktheme

[2016-12-03 23:05] NameYT commented on #139
@Fantasy-Agario Do you know the code? For BOT SMARTER only for me? i need the calculatuon :)

[2016-12-03 23:09] Fantasy-Agario commented on #139
@NameYT Define pls :)

[2016-12-03 23:10] NameYT commented on #139
@Fantasy-Agario Why i cant use pellet mode :(

[2016-12-03 23:11] NameYT commented on #139
@Fantasy-Agario That make bots smarter!! Tricksplit Teaming Splitrunning like that farming virus

[2016-12-03 23:11] Fantasy-Agario commented on #139
@Jhair2015 Thanks for pointing that out :)

And the client isn't fully finnished yet so its a bit buggy

[2016-12-03 23:11] NameYT commented on #139
@Fantasy-Agario Why i cant use pellet mode in Agar.io

[2016-12-03 23:11] Fantasy-Agario commented on #139
What about the forums ? anyone want one :)

[2016-12-03 23:12] Fantasy-Agario commented on #139
On my client or the Agar.io client ? @NameYT

[2016-12-03 23:13] NameYT commented on #139
@Fantasy-Agario Agar.io and i want FORUMS!!!!!!!!!!

[2016-12-03 23:13] NameYT commented on #139
![image](https://cloud.githubusercontent.com/assets/20871314/20862840/2bebbe96-b9f1-11e6-9479-bcb5fe3bdeb5.png)
This is my settings

[2016-12-03 23:17] NameYT commented on #139
@Fantasy-Agario Help

[2016-12-03 23:19] Fantasy-Agario commented on #139
hmm im not familiar with the new settings , I couldn't get this to work either, try downloading the earlier version [REVERT](https://github.com/Megabyte918/MultiOgar-Edited/tree/5cc112fd517734f665d9c66d34feb6a3710bebc4)

If it doesn't work then you might have to ask @Megabyte918

And imma start work on the forums right away :P

[2016-12-03 23:19] Megabyte918 commented on #134
@NameYT They are already smart.

[2016-12-03 23:19] #134 closed

[2016-12-03 23:19] NameYT commented on #139
@Fantasy-Agario Yay :) do we have login system like that ?

[2016-12-03 23:19] Jhair2015 commented on #139
@NameYT

`minionStartSize` = 32
`minionMaxStartSize` = 32
`disableERTP` = 0
`disableQ` = 0
`serverMinions` = 15
`defaultName` = "Jhair"
`collectPellets` = 1

[2016-12-03 23:20] Fantasy-Agario commented on #139
@Jhair2015 Thanks <3

[2016-12-03 23:20] Fantasy-Agario commented on #139
For the forums ? @NameYT

[2016-12-03 23:20] NameYT commented on #139
@Fantasy-Agario Yes

[2016-12-03 23:20] Jhair2015 commented on #139
@Fantasy-Agario

No problem and...

Whats is FORUMS??

[2016-12-03 23:21] firelightning13 commented on #139
@Fantasy-Agario Is forum necessary?

[2016-12-03 23:21] Jhair2015 commented on #139
@Fantasy-Agario  @NameYT

What are forums? Sorry I'm not American, I'm from Latin America! :p

[2016-12-03 23:22] NameYT commented on #139
@Fantasy-Agario @Jhair2015 IT DOESN"t WORK PELLET MODE DOESN"t WORK

[2016-12-03 23:22] Fantasy-Agario commented on #139
They are like mini social networks

[EXAMPLE](http://forum.ogarul.io/)

[2016-12-03 23:22] firelightning13 commented on #139
@Jhair2015 haha it works like this http://www.minecraftforum.net/

[2016-12-03 23:24] NameYT commented on #139
I will make an issue that it dont work :()

[2016-12-03 23:25] Fantasy-Agario commented on #139
And @firelightning13

A forum is not necessary but it would separate the support issues from acctual issues with the code + it would be nice to have a community surrounding this project :P

[2016-12-03 23:25] NameYT opened #140 "Pellet Mode Doesn't Work if Q OR P IS CLICKED!!"
Dont work! @Megabyte918 @Fantasy-Agario
![image](https://cloud.githubusercontent.com/assets/20871314/20862883/caca538c-b9f2-11e6-8a97-867c88278b9a.png)

[2016-12-03 23:25] NameYT commented on #139
@Fantasy-Agario Why pellet mode doens't work

[2016-12-03 23:26] Fantasy-Agario commented on #139
I'm not sure but ill try fixing it :D

[2016-12-03 23:26] Jhair2015 commented on #139
@NameYT  I do get pallet mode in the last update...

[2016-12-03 23:27] Jhair2015 commented on #139
@firelightning13  xD :v

[2016-12-03 23:27] NameYT commented on #139
@Jhair2015 Well it doens't work now :(

[2016-12-03 23:34] Jhair2015 commented on #140
@NameYT  Fixed

[2016-12-03 23:36] NameYT commented on #140
@Jhair2015 Thanks

[2016-12-03 23:39] AlexandriteErikParacelsus commented on #140
wtf is this

[2016-12-03 23:42] NameYT commented on #140
@Megabyte918 @Jhair2015 Okay it doesn't work

[2016-12-03 23:42] AlexandriteErikParacelsus commented on #139
seems like your client doesn't support "P"

[2016-12-03 23:43] Fantasy-Agario commented on #139
the client isn't fully finnished yet so its a bit buggy

[2016-12-03 23:44] AlexandriteErikParacelsus commented on #139
right

[2016-12-03 23:49] Megabyte918 commented on #139
I don't really think we need a forum yet

[2016-12-03 23:50] Megabyte918 commented on #140
@NameYT Refer to #131

[2016-12-03 23:53] Fantasy-Agario commented on #139
Yeh not yet , but just to take it into consideration :)

[2016-12-03 23:56] MineMooreALT opened #141 "auto restart"
Hi can you please add auto restart and if possible ip bots. Would make my day!

[2016-12-03 23:58] MastaCoder commented on #141
I was actually going to add this: auto restart

[2016-12-04 00:00] MastaCoder commented on #139
This client looks familiar.. 😢

[2016-12-04 00:00] MineMooreALT commented on #141
what

[2016-12-04 00:01] MineMooreALT commented on #139
very

[2016-12-04 00:04] MineMooreALT commented on #132
.

[2016-12-04 00:09] AlexandriteErikParacelsus commented on #139
play.ogarul.tk??? TRIGGERED

[2016-12-04 00:12] Fantasy-Agario commented on #139
Its open source so yh , plus this is just a basic client for the time being :D

[2016-12-04 00:16] AlexandriteErikParacelsus commented on #139
![b n v khong co tieu d](https://cloud.githubusercontent.com/assets/17348976/20863066/d724cf74-b973-11e6-8a62-54191e49a042.png)

[2016-12-04 00:17] Fantasy-Agario commented on #139
XD

[2016-12-04 00:17] AlexandriteErikParacelsus commented on #141
It means he was actually going to add this: auto restart

[2016-12-04 00:18] AlexandriteErikParacelsus commented on #140
You need the ERTP script in the scripts folder, because your ERT script is outdated and you don't need to disableQ

[2016-12-04 00:18] #140 closed

[2016-12-04 00:19] MineMooreALT commented on #141
ok 👍

[2016-12-04 00:23] AlexandriteErikParacelsus commented on #139
lmao

[2016-12-04 00:30] Jhair2015 commented on #141
@MineMooreALT https://github.com/Barbosik/MultiOgar/issues/217#issuecomment-233934233

[2016-12-04 00:41] Jhair2015 commented on #140
@AlexandriteErikParacelsus  So that means that obligatorily each player must have installed the script, but there are some that are very stubborn and ignore to install script besides that some goes wrong and an endless things ...

[2016-12-04 00:45] NameYT commented on #140
@Jhair2015 @Megabyte918 DONT WORK DAFUQ

[2016-12-04 00:47] MineMooreALT commented on #141
So its impossible? I wanna make one of those selffeed server's like alis but i need auto restart

[2016-12-04 00:53] Fantasy-Agario commented on #141
Its not impossible , but its hard @MineMooreALT

[2016-12-04 00:53] MineMooreALT commented on #141
What about a thing that triggers a killall command every 2 minutes

[2016-12-04 01:16] Fantasy-Agario commented on #141
Yeh thats not a bad idea , I can make u a version if u like do u have skype or anything?

[2016-12-04 01:23] MineMooreALT commented on #141
yeah taj.moore89 thanks

[2016-12-04 01:29] Fantasy-Agario commented on #141
I'll do it tommoro as I'm going to sleep in a min or two as its like 01:28 am

[2016-12-04 01:29] MineMooreALT commented on #141
Oh ok damn but tomorrow is school and its like 9:29 am for me

[2016-12-04 01:31] Megabyte918 commented on #140
Works fine for me.

[2016-12-04 01:31] Fantasy-Agario commented on #141
Ok ill do it now then :D

[2016-12-04 01:32] MineMooreALT commented on #141
Thanks

[2016-12-04 01:32] Fantasy-Agario commented on #141
Np :P

[2016-12-04 01:35] MineMooreALT commented on #141
if you cannot find me on skype just tell me your skype

[2016-12-04 01:36] Fantasy-Agario commented on #141
Cant find u

My skype : FantasyIsBae

[2016-12-04 01:36] MineMooreALT commented on #141
requested

[2016-12-04 01:37] AlexandriteErikParacelsus commented on #140
@Jhait2015 who gives a crap, they can't use pellet mode is their fault, and there are no clients that supports P (I didn't found one yet)

[2016-12-04 02:52] NameYT commented on #140
@Megabyte918 i fixed it i cant pellet mode cuz i ran 1000 bots why

[2016-12-04 04:26] AlexByte918 commented on #139
add the skin feature

[2016-12-04 04:34] AlexByte918 opened #142 "[Question]"
¿To you see your own skin, the multiogar-edited need release to official page?,
example:
minemoore.tk
play.ogarul.tk
etc
Answer me please.

[2016-12-04 04:45] AlexByte918 opened #143 "Anyone plz"
Anyone please pass me a code to random skins (no with skins), im working a project to random skins from Dlc 1 to Dlc actualli, but im need te code to start working

[2016-12-04 04:49] Megabyte918 commented on #142
@AlexByte918 No, https://github.com/Megabyte918/MultiOgar-Edited/issues/132

[2016-12-04 04:49] #142 closed

[2016-12-04 04:50] Megabyte918 commented on #143
@AlexByte918
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/PacketHandler.js#L263-L278
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/PacketHandler.js#L287-L295

[2016-12-04 04:50] #143 closed

[2016-12-04 06:02] SingleAtom commented on #7
Yeah they are all triggered. i do not understand, if andrew has so much experience, why can't he just block bots like you did on abs0rb.me  @MastaCoder (by the way, i still don't know what the heck you did to patch them!) <- only because i have been working on autoswitch (done), and now i am working on UUID / IP matching with purchase :) mabe you can help! check discord and we can talk further the

[2016-12-04 07:38] NameYT opened #144 "New Commnad"
@Megabyte918 add update command so we dont have to download it all over again also
if i spawn 1000 bots? i cant do a pellet mode.....
but if i run 500 i can do them pellet mode
how is that posible ?

[2016-12-04 10:59] t11tanYT commented on #134
@Megabyte918  - i want laggy bots , i not want to freeze all bots, its not reallistic
delay for minions(new setting) MinionsDelay = (time in milliseconds) This setting add delay for follow mouse ( like bots with proxy)
- No point in adding delay, as you can just disconnect the bots or kill them.
- im want to bots go to you mouse  with delay (example) in config  MinionsDelay = 30
bots go to you mou

[2016-12-04 11:35] PrinceDark9243 opened #145 "ERTP Code For More Clients"
Make Code for more Clients like astr.io alis.io and others

[2016-12-04 16:12] MastaCoder commented on #144
You can just use git, it'll update it for you.

[2016-12-04 16:13] MastaCoder commented on #139
It's just the fact that Andrew made it is making me want to do what's in the image. 😄

[2016-12-04 16:14] MastaCoder commented on #140
Why are you running 1000 bots..

[2016-12-04 16:18] MastaCoder commented on #141
I'm pretty sure MultiOgar doesn't ever go up to 4GB. The person in the post said that killing 1 process that is using a whole 4GB is a dangerous practice, and yes it is.

![img](https://i.gyazo.com/cd2e0b3e97d6f0598abf6fe0d6ea0f82.png)

With 12~ servers active restarting every 3 hours I barely go over 4GB of RAM usage. (While CPU is pretty high) Don't use the killall command, a better practice is

[2016-12-04 16:42] AlexandriteErikParacelsus commented on #139
@mastacoder XDDDD

[2016-12-04 16:45] AlexandriteErikParacelsus commented on #134
Lol wtf, why would you add more lines of code to have laggy bots

[2016-12-04 16:59] Fantasy-Agario commented on #134
@AlexandriteErikParacelsus Your profile pic shows my reaction...

[2016-12-04 17:27] CalvinDKL opened #146 "Auto restart setting."
Hello!

So the auto restart feature would be awesome if it were to be made!
Its because now and then my servers get too big.

Thank you!

[2016-12-04 17:36] ZfsrGhS953 commented on #146
I think I have a better idea to prevent players getting big. Calculate mass that the map can fit, then divide the server total mass by the map mass to get a fraction of map fill. Then, substract that fraction from 1 and divide the decay by it. I'll make a PR if @Megabyte918 decides that this is a good solution.

[2016-12-04 18:18] DaAwesomeRazor commented on #146
Auto restart? You mean like restarting the process? or just killing all the players. I made an auto restart that closes the process, and pm2 auto opens it.

[2016-12-04 18:18] Tyler3D opened #147 "Server attempts to recover lag."
If your server is lagging for a while, and then you stop the lag. Ex. Kick bots. Then your server will be in fast motion.
I left my server running overnight with 2000 bots. Then, for 30 minutes or so, the server is running in fast motion.

[2016-12-04 18:19] G047 commented on #146
lol razor

[2016-12-04 18:23] Gimmo commented on #146
Death on Cell size limit will be more honestly.

[2016-12-04 18:23] Tyler3D commented on #145
// ==UserScript==
// @name         E, R, T, and P keys
// @version      1.0
// @description  Adds E, R, T, and P keys to the vanilla client
// @author       ZfsrGhS953
// @match        *.agar.io/*
// @match        *http://old.ogarul.io/*
// @match        *astr.io/*
// @match        *alis.io/*
// @grant        none
// @run-at       document-start
// ==/UserScript==

/*******************************

[2016-12-04 18:24] Tyler3D commented on #145
Try that

[2016-12-04 18:35] Tyler3D commented on #146
How about something like this:

`@echo off
cls
:start
node ../src/index.js
@echo.
@echo Restarting server...
@echo.
goto start`

[2016-12-04 18:36] Tyler3D commented on #146
When the server crashes it restarts it

[2016-12-04 18:36] Tyler3D commented on #146
So, All we need is a function to crash the server

[2016-12-04 18:36] Tyler3D commented on #146
Or stop the process

[2016-12-04 18:37] ZfsrGhS953 commented on #146
Just crashing the server doesn't necessarily mean that the node process will exit. The intended way to do this is:
[code]

[2016-12-04 18:38] G047 commented on #146
add this to the index.js

``setTimeout(function(){process.exit(1);}, 10*60*1000``

[2016-12-04 18:39] Tyler3D commented on #146
Ok

[2016-12-04 18:40] ZfsrGhS953 commented on #146
That will restart the server in 10 minutes, but what if you want to restart it in a different amount of time? Use gameserver.js and read the restart time value from config.

[2016-12-04 18:42] Tyler3D commented on #146
I did on my fork

[2016-12-04 18:43] Tyler3D commented on #146
Now I test

[2016-12-04 18:44] systemroot commented on #146
another way is https://github.com/remy/nodemon#delaying-restarting

[2016-12-04 19:36] Megabyte918 commented on #144
@NameYT Refer to #36
And by default visible node calculations for minions are disabled once the server has detected there are greater than 800, this includes calculations for pellets unfortunately.

[2016-12-04 19:36] #144 closed

[2016-12-04 19:39] CalvinDKL commented on #146
@G047 setTimeout(function(){process.exit(1);}, 10*60*1000

That line, that doesnt restart the server.....

[2016-12-04 19:40] CalvinDKL commented on #146
What i would like is a setting in the server files.
Which Restarts the server. Then ill add a countdown timer to my client so people can see it restarts.

[2016-12-04 19:41] Tyler3D commented on #146
I made a pull request

[2016-12-04 19:41] Tyler3D commented on #146
based on config

[2016-12-04 19:41] CalvinDKL commented on #146
Thanks Tyler

PS isnt a pull request a thing where u merge or just add a feature?
i dont know lol

[2016-12-04 19:42] Tyler3D commented on #146
Well, you make a fork and a pull request is to request the owner to accept your commits on your fork

[2016-12-04 19:42] Tyler3D commented on #146
https://help.github.com/articles/about-pull-requests/

[2016-12-04 19:43] CalvinDKL commented on #146
ok ok ok ok, and does your commit thingy have a autorestart thing?? xD

[2016-12-04 19:44] Tyler3D commented on #146
Yup

[2016-12-04 19:45] Tyler3D commented on #146
If you want it, download this

[2016-12-04 19:45] CalvinDKL commented on #146
PLS ! Love u if u do, no homo.

[2016-12-04 19:45] Tyler3D commented on #146
https://github.com/Tyler3D/MultiOgar-Edited

[2016-12-04 19:45] Tyler3D commented on #146
XD

[2016-12-04 19:45] Tyler3D commented on #146
https://github.com/Tyler3D/MultiOgar-Edited

[2016-12-04 20:02] CalvinDKL commented on #146
Lol i hopes he accepts, it would be a useful feature!

[2016-12-04 21:27] Megabyte918 commented on #147
Weird.. I will see what I can do

[2016-12-04 21:27] Megabyte918 commented on #145
@Tyler3D Syntax is incorrect, should be this: http://pastebin.com/vX1sdSQC

[2016-12-04 21:49] Megabyte918 commented on #147
Fixed.

[2016-12-04 21:49] #147 closed

[2016-12-04 21:50] Megabyte918 commented on #137
How did the other settings go @CalvinDKL ?

[2016-12-04 22:40] AlexByte918 opened #151 "How to play my private server in alis?"
plz answer

[2016-12-04 22:42] Fantasy-Agario commented on #151
alis.io/?ip=Adress:Port

Gotta go fast XD

[2016-12-04 22:42] #151 closed

[2016-12-04 23:17] AlexByte918 opened #152 "Plz"
Pass me the config of the server of crazy in alis.io

[2016-12-04 23:26] Jhair2015 commented on #152
PlayerMaxCell: 100 or 200

[2016-12-04 23:30] AlexByte918 commented on #152
More?

[2016-12-04 23:48] #152 closed

[2016-12-05 00:01] AlexByte918 opened #153 "Byte you can this?"
Byte you can make a project to upload al config of alis.io or other official servers.,
If you see the project no its in work you can close it

[2016-12-05 00:14] Gimmo opened #154 "Critical Bug?"
Size and Score changes on every motion. Below is a tail of very long log, which ended when changes stops by time.
Cell ,this time, quietly stay in the corner. When I slightly move Cell(no any eating), log begins a new long round of changes. It's a shit :(

To reproduce - just insert console.log into PlayerTracker.updateMass. Run on MO "from the box" with single client.

pID 4
size: number 32.49894

[2016-12-05 00:19] Megabyte918 commented on #153
I don't know the config of alis.io official servers lol, i'm not the owner. This issue has nothing to do with this project so I am closing it.

[2016-12-05 00:19] #153 closed

[2016-12-05 00:22] Megabyte918 commented on #154
Why is this a problem?

[2016-12-05 00:28] Gimmo commented on #154
Because it is direct parazitic server load. It's generated by circular references in many places.

[2016-12-05 00:29] Megabyte918 commented on #154
What do you mean? It's supposed to be generated that way.

[2016-12-05 00:35] Gimmo commented on #154
What way? I do nothing, but score is changes ? As I understand, it should change when some events (collisions) happened. As one collision -> one change.

[2016-12-05 00:35] Megabyte918 commented on #154
That's not how it is in vanilla Agar.io, your supposed to decay whether or not you have moved or not.

[2016-12-05 00:42] Gimmo commented on #154
It's not decay by time. It's decay by recursion. When Cell stay quiet, it stops and Cell stay intact until it try to move.

[2016-12-05 00:47] Megabyte918 commented on #154
I don't get what your trying to say.

[2016-12-05 01:01] Gimmo commented on #154
If you want to change mass by time, you will change it by system tick.
You say "supposed to decay whether or not you have moved or not"
When Cell stops in the corner, it stop changes.
You can see exponencial changes of score in the log.  It's typical for recursion. Can you point me the place, where this recursion programmed?

[2016-12-05 01:34] Gimmo commented on #146
It's crap. This shoudn't be done. The root of server problem have to be found.

[2016-12-05 02:32] Andrews54757 commented on #7
@MastaCoder, First of all, the license is the GNU affero general public license, the strongest free to use copyleft license. And dont insult us, it seems like YOU have problems with dealing with problems. I, calmly locked the conversation in order to maintain peace. You on the other hand, are going crazy over something as small as this. I mean, why are you so desperate over the allegations that yo

[2016-12-05 02:33] Andrews54757 commented on #7
Everyone, but doesnt it really seem suspicious that @MastaCoder is really desperate to defend himself? He has never before lost his control, but now he seems to have been out of his mind.

[2016-12-05 02:41] Megabyte918 commented on #154
Mass IS changed by system time or every "tick" because the updateMassDecay function is called every tick in the server's mainLoop. When a cell stops in a corner, it's not supposed to affect that because that's not how it is in vanilla. It still changes mass or "decays" as long as the cell is alive.
https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L659-L662
https://gith

[2016-12-05 03:01] Gimmo commented on #154
Thank you.
Please look the new log. Last value is a timestamp. As you can see, interval doesn't look like a second, but score changes. This is what I'm talk about.

score: number 1064.0739639526134 1480906513595
pID 1
score: number 1061.9458160247082 1480906514741
pID 1
score: number 1059.8219243926587 1480906514831
pID 1
score: number 1057.7022805438737 1480906514935
pID 1
score: number 1055.5868

[2016-12-05 03:21] Megabyte918 commented on #154
Ok then, glad I could help 👍

[2016-12-05 03:22] Megabyte918 commented on #154
What did you do with the code?

[2016-12-05 04:03] AlexandriteErikParacelsus commented on #146
@Gimmo right

[2016-12-05 06:33] Gimmo commented on #154
PlayerTracker.prototype.updateMass = function () {
    var totalSize = 0;
    var totalScore = 0;
    for (var i = 0; i < this.cells.length; i++) {
        var node = this.cells[i];
        totalSize += node._size;
        totalScore += node._sizeSquared;
    }
    if (totalSize == 0) {
        //do not change scale for spectators or not in game players
        this._score = 0;
    } else {

[2016-12-05 07:35] Megabyte918 commented on #154
I meant with the code for mass decay

[2016-12-05 07:54] Gimmo commented on #154
Read.

I make each experiment with clear instance of MultiOgar.

[2016-12-05 08:09] firelightning13 commented on #140
for youtube

[2016-12-05 08:11] firelightning13 commented on #134
@Fantasy-Agario That's what I do everyday

[2016-12-05 08:48] Megabyte918 commented on #154
I've had no problem with lag whatsoever. I can leave it running overnight and it would be fine the next day.

[2016-12-05 09:15] Gimmo commented on #154
It's not an answer. Server should work intact looong period under heavy load. People requires autoRestart because server is unstable. The error, which my logs shows, can be the reason of problem. It can't be fixed by simple prosthesis.

[2016-12-05 13:58] t11tanYT opened #155 "STUPID BOTS"
bots always avoid with BIG distanse, and always split(spawn and split to food or player)
FIX IT

[2016-12-05 14:27] MastaCoder commented on #7
@Andrews54757 I will do what I must to defend myself. I like how during the whole conversation you avoided trying to prove how I bot websites. You said you were intercepting messages in a public chat. Please refrain from acting as if you're superior to everyone, and speaking in such a condescending way.

As I previously stated, tell me how I'm a botting affiliate. You are adding so much to this us

[2016-12-05 14:39] Andrews54757 commented on #7
@MastaCoder You are a moderator of their chat.

[2016-12-05 14:42] Andrews54757 commented on #7
@MastaCoder I also like how you are so desperate to defend yourself when it is obvious, that you participate in their activities

[2016-12-05 14:46] Andrews54757 commented on #7
<img width="261" alt="screen shot 2016-12-05 at 9 46 31 am" src="https://cloud.githubusercontent.com/assets/13282284/20889108/bbf07d7c-bacf-11e6-89f7-22434862b03f.png">

[2016-12-05 14:47] Andrews54757 commented on #7
<img width="541" alt="screen shot 2016-12-05 at 9 47 06 am" src="https://cloud.githubusercontent.com/assets/13282284/20889128/cf54e8b2-bacf-11e6-9ed8-97799aab403b.png">

[2016-12-05 14:48] Andrews54757 commented on #7
<img width="706" alt="screen shot 2016-12-05 at 9 48 39 am" src="https://cloud.githubusercontent.com/assets/13282284/20889184/06d8360e-bad0-11e6-99ab-4f2d858c9281.png">

[2016-12-05 16:07] Tyler3D commented on #155
Or maybe your bad at the game. Their actually pretty smart. They can presplit and reverse tricksplit you.

[2016-12-05 16:39] PrinceDark9243 commented on #145
P key isnt working in Astr.io

[2016-12-05 16:40] PrinceDark9243 commented on #155
NO @t11tanYT is Right the isnt split when they are big.

[2016-12-05 16:54] PsycoYT opened #156 "i cant eat"
i cant eat food bigger than me , please fix that.

[2016-12-05 17:04] ZfsrGhS953 commented on #7
That doesn't prove @MastaCoder is a "botting affiliate". Just being a moderator of PolarsBots.tk chat doesn't mean he is developing PolarsBots.tk.

[2016-12-05 17:28] PrinceDark9243 commented on #156
yes you cant able to eat food when you are smaller than food lol!

[2016-12-05 18:47] Gimmo commented on #154
There is an error in
     if (((this.tickCounter + 3) & (25)) == 0) {
            // **once** per second
            this.updateMassDecay();
    }
Should be
     if (((this.tickCounter + 3) & (25))) {
            // once per second
            this.updateMassDecay();
    }
This remove execution of  .updateMassDecay from circular call, because circular call has loop length about 100ms,  but recursi

[2016-12-05 18:52] Andrews54757 commented on #7
<img width="260" alt="screen shot 2016-12-05 at 1 51 46 pm" src="https://cloud.githubusercontent.com/assets/13282284/20897842/019d2704-baf2-11e6-98cc-7f0a01229a0a.png">
<img width="710" alt="screen shot 2016-12-05 at 1 51 28 pm" src="https://cloud.githubusercontent.com/assets/13282284/20897852/0a441598-baf2-11e6-9f6c-65f20e0caf72.png">

[2016-12-05 18:53] Andrews54757 commented on #7
@ZfsrGhS953 Dont even think about talking. Your the head dev and everything, who actually bots!

This is just sad, how you are supporting yourselves to make yourselves look better

[2016-12-05 18:55] Fantasy-Agario commented on #7
@ZfsrGhS953 While you are a friend , I do agree with @Andrews54757 , You can't just ruin someones project for no reason (Not direct)

[2016-12-05 19:09] Fantasy-Agario commented on #155
They do split when they're big XD

[2016-12-05 19:09] #155 closed

[2016-12-05 19:32] Gimmo commented on #154
There is an typo in call

     if (((this.tickCounter + 3) & 25)==0) {
         // once per second
         this.updateMassDecay();
     }

should be
     if (((this.tickCounter + 3) **%** 25)==0) {
         // once per second
         this.updateMassDecay();
     }

This remove repetitive execution of  updateMassDecay. Now it happened once per second  as required.

score: number 2553.559889100093

[2016-12-05 20:01] ZfsrGhS953 commented on #7
Umm... ruin? PolarsBots never ruin anything unless I use the chat spam feature, which is only to show off my rage or revenge. I don't use it often, maybe 20% of all times. They are only intended to make the game more fun - having lots of small cells following a big cell extends the game in a similar way that experimental mode extends FFA by adding spawners and virus pushing.

[2016-12-05 20:06] Megabyte918 commented on #145
This is meant for the Agario client, not others.

[2016-12-05 20:06] #145 closed

[2016-12-05 20:07] Megabyte918 commented on #7
Please take this somewhere else.

[2016-12-05 20:13] CalvinDKL commented on #156
lol, but i believe someone made a issue on this.....

[2016-12-05 20:17] Gimmo commented on #154
Explanation:
[code]

[2016-12-05 20:28] Fantasy-Agario commented on #7
Ok :)

[2016-12-05 20:45] Megabyte918 commented on #156
@PsycoYT You are not supposed to be able to eat cells bigger than you. Do not make any more issues on the subject.

[2016-12-05 20:45] #156 closed

[2016-12-05 23:06] Megabyte918 commented on #154
Interesting.. I will revert back to the old way functions were called using tickCounter as an interval immediately. Thanks for letting me know

[2016-12-05 23:25] Megabyte918 commented on #155
Fixed

[2016-12-06 01:55] #154 closed

[2016-12-06 10:09] NameYT opened #157 "Cant see skin w/ CustomSkin By Megabyte"
![image](https://cloud.githubusercontent.com/assets/20871314/20921431/0195e6d6-bbdf-11e6-9177-1b67c49c91a9.png)
Help Not Working!!
I have the script on
![image](https://cloud.githubusercontent.com/assets/20871314/20921438/0beb2e16-bbdf-11e6-9f52-bece911a92c4.png)
@Megabyte918 Fix

[2016-12-06 11:28] Gimmo opened #158 "Console Commands"
Kick
not working properly - immediately after kick user reborns with a new ID.
What should be:: something like after client's cell is eaten ;  gameplay on client side stay in place, client's cell disappear, client reborn only after new  command "play" issued.  Kickbot, meanwhile, working a right way.

Mass
cannot set mass less then 9. When I use console for experiments/debugging it is an annoying

[2016-12-06 12:57] Megabyte918 commented on #157
I can see my skins just fine. Can you post the link here?

[2016-12-06 15:37] MastaCoder commented on #157
Maybe also post of the photo of the console for any errors?

[2016-12-06 16:33] RasyiidWho opened #159 "So many mother cell in Experimental"
Is there a way to reduce amount of mother cell?

[2016-12-06 16:44] PrinceDark9243 commented on #159
Go to gamemode then open Experimental Change this `  this.motherMinAmount = 20;` to What ever amount you want

[2016-12-06 17:34] PsycoYT opened #160 "what ?"
When I ban many ip, the server is bug ,
Says connecting when there are only 50 players of 200 ,
Only happens in versions 1.4 onwards

[2016-12-06 20:23] Fantasy-Agario commented on #159
Fixed

[2016-12-06 20:23] #159 closed

[2016-12-06 20:39] Megabyte918 commented on #160
@PsycoYT I could not reproduce this, it just says "disconnected" for me, then later they disappear from the playerlist.

[2016-12-06 20:50] Megabyte918 commented on #158
That's what its supposed to be right? It kicks them from the server like it's supposed to.

The same thing could be replicated using the ban and unban commands.

Fixed.

I cannot help you with that, as it is a client related issue.

[2016-12-06 21:14] Gimmo commented on #158
Kick - reject one time. If cell reborn, no-one will know about kick. Nothing changes. Cell **should not reborn automatically**, but connection must stay alive.
Ban - reject forever.
It's common practice for all games and chats.

[2016-12-06 21:48] Megabyte918 commented on #158
I will make it so you must reload the page in order to play again.

Mass: Which other clients have you tested it on? That feature was removed a long time ago, you used to be able to press escape and it would reset your score to what you currently had, but now if your mass has decreased, your score will no longer change unless you have surpassed your previous score.

[2016-12-06 21:58] PsycoYT commented on #160
appears 'connecting' as if the server was full , with version 1.3.7 does not happen that

[2016-12-06 22:00] Gimmo commented on #158
It's wrong way - connection must stay alive and cell should reborn on "play" button. Exactly as when you are eaten under overlay after press escape.

About mass - yes, seems I was wrong: it't not a bug, it's feature. Score indicator always shows your maximal mass in current game, where the mass indicator(embedded) shous current value of mass. Sorry...

[2016-12-06 22:08] Megabyte918 commented on #158
@Gimmo would you like me to make it so they must reload the page in order to play again?

[2016-12-06 22:18] Megabyte918 commented on #160
@PsycoYT can you post a photo? I've tried to make this happen many times but no luck.

[2016-12-06 22:27] MastaCoder commented on #158
@Megabyte918 But that won't really favor the people that do have multiple servers and do follow the way that Miniclip does it.

[2016-12-06 22:29] Gimmo commented on #158
I badly need the game can be finished normal way - before reconnection. Your proposal is acceptable for kick, but it will be the same discussion about finishing game: I should ask you about the way to finish the game the way I describe. So, easy way is to find solution for kick the way I wrote before, it will resolve two problems. :)

[2016-12-06 22:44] PsycoYT commented on #160
Does not send any errors in console

only said in the client 'Connecting' with 1.4.0 - 1.4.2 versions

[2016-12-06 22:44] PsycoYT commented on #160
in ogar.pw

[2016-12-06 23:09] Megabyte918 commented on #158
I have added a new command, it should disable the player from spawning until you either redo the command on them, or they reload the page.

[2016-12-06 23:13] Gimmo commented on #158
Thanks, I'll check how it works.

[2016-12-06 23:51] Megabyte918 commented on #160
@PsycoYT I can't fix something that isn't broken.. I haven't been able to reproduce this bug. Try changing the "logVerbosity" config to 5, then go into the logs and show me the latest one. There might be an error there. If there is none, try using a different client and see what happens, if it doesnt happen then that means it's a problem with the ogar.pw client. Is this reocurring? And what steps

[2016-12-06 23:53] Megabyte918 commented on #160
Is anyone else having the same problem?

[2016-12-07 00:03] MastaCoder commented on #160
Does connecting keep showing up and going away? Usually that's if you're banned, server is full, etc. If it's just a straight connection, most likely the connection is down.

[2016-12-07 00:36] Jhair2015 commented on #160
@Megabyte918  Yep, i have a similar problem

[2016-12-07 01:44] Gimmo commented on #158
Damn language barrier.
I'm sorry for so much disturbance. Kick working just perfect, if simple removed line
CommandList.js :: 396  `socket.close(1000, "Kicked from server");`
Play in this case not needed and should be removed.
Much appreciate your help!

[2016-12-07 02:53] Megabyte918 commented on #158
@Gimmo No problem :)

[2016-12-07 02:53] #158 closed

[2016-12-07 10:25] PsycoYT opened #161 "How to change the food color?"

[2016-12-07 11:56] t11tanYT opened #162 "new commands"
LmsStart  - starts lms in all gamemodes by this command
LmsEnd  -  ends lms in all gamemodes by this command
RandomMinion (count) (name) - give minions for random player

[2016-12-07 12:03] t11tanYT opened #163 "new EPIC gamemode idea"
TEAMS2
Gamemode, like teams, but if you eated by cell in green team you spawn in green team (and winner is team, which captured all players.
and new settings for this gamemode and original teams
TeamsCount = (count of teams)
i think is good idea

[2016-12-07 12:11] PsycoYT opened #164 "create custom skins for client"
please create the script of custom skins for the cigar's client

[2016-12-07 12:47] ZfsrGhS953 commented on #163
I think this gamemode should be called "Green Team"

[2016-12-07 12:50] PsycoYT commented on #163
@ZfsrGhS953  pleaseee help me , i need your help please....

[2016-12-07 13:33] Megabyte918 commented on #161
Code is located here: https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L964

[2016-12-07 13:35] Megabyte918 commented on #164
I'm keeping it only for the vanilla client, not for others.

[2016-12-07 13:35] #164 closed

[2016-12-07 13:36] #161 closed

[2016-12-07 14:11] MastaCoder commented on #164
Why would you need that, you can edit the code inside the main_out.js to change the skins folder..

[2016-12-07 14:12] MastaCoder commented on #162
RandomMinion isn's such a good idea. Just do minion and type in a random number.

[2016-12-07 17:23] PrinceDark9243 commented on #163
Thats a Good idea but i wish this could be Reality but @Megabyte918 *DONT WANT TO MAKE THIS PROJECT OGAR UL!*

[2016-12-07 19:12] Vvrrick opened #165 "Change virus color?"
Is there code to change virus color? And what do you mean by "soften splits"

[2016-12-07 19:27] Fantasy-Agario commented on #165
Change the rgb color here : https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/entity/Virus.js#L8

[2016-12-07 19:27] #165 closed

[2016-12-08 00:42] Megabyte918 commented on #165
@Vvrrick soften splits: meaning they aren't as hard as they were, the cells separate more elegantly instead of snappily

[2016-12-08 01:07] XtremePlayzCODE commented on #163
just like diep.io tag mode, right?

[2016-12-08 01:31] AlexandriteErikParacelsus commented on #163
No

[2016-12-08 01:32] AlexandriteErikParacelsus commented on #162
^ yes

[2016-12-08 01:33] XtremePlayzCODE commented on #163
@AlexandriteErikParacelsus, or should I say bleach drinker from your profile pic, basically what he is describing is tag mode in diep, but only the green can be taggers, or am I just missing something

[2016-12-08 01:57] Megabyte918 commented on #162
@t11tanYT ^^
Also, having a command to start/end lms whenever you want in any gamemode kindof ruins the point of having a specific gamemode just for lms.

[2016-12-08 01:57] #162 closed

[2016-12-08 05:59] Megabyte918 commented on #163
@t11tanYT I could do something like that but I don't think we need an entire gamemode dedicated to it, maybe I'll make it like a config or something.

[2016-12-08 07:14] Gimmo opened #166 "Console Commands 2"
When player is divided into many parts, after issue "kill" or "kick" console commands, player remains in playerlist. Only one element(part) removed from user screen (client)  :(

Player can be removed only after repetitive ( for every part ) command.

[2016-12-08 07:50] Megabyte918 commented on #166
This does not happen with me. I split 16 and killed myself and it said I was dead or not playing.

[2016-12-08 08:02] Gimmo commented on #166
Strange. I change initial size to 300 and split cell by virus. I check it few times, but I'll check one more time the way you do.

[2016-12-08 08:42] Gimmo commented on #166
I try one more time, more carefully.
Kill kills all and report number of removed cells.
But kick removes only half of children . I.e. I need a few iteration to remove it completely.
In any occasion, when cell is fully destroyed it remains in playerlist, but marked as "DEAD OR NOT PLAYING"

NOTE: in my server I don't drop connection inside kick command.

[2016-12-08 09:47] NameYT opened #167 "How to get no lag while using 700 minions? Launching the Server to 32 GB HOW?W?"
Help

[2016-12-08 10:59] NameYT commented on #167
@Megabyte918

[2016-12-08 11:03] PrinceDark9243 opened #168 "Mass Command Enhancement!"
Mass Command Enhancement
Old Commad `mass [ID] [AMOUNT]`

TO NEW `mass [ID] [CMD] [AMOUNT]`

in CMD you need to put `s`=Set ,`r`=Remove ,`a`=Add (this cmd contains the commad data like removing mass adding mass setting mass)

ex: `mass 1 a 100` (Add 100 mass to 1 ID player [ALL CELLS])
ex: `mass 1 r 100` (remove 100 mass to 1 ID player [ALL CELLS])
ex: `mass 1 s 100` (set 100 mass to 1 ID player [

[2016-12-08 11:26] Gimmo commented on #166
Originl kick (by Barbosik) glue together ll childs of plyer's sell .

[2016-12-08 12:46] firelightning13 commented on #163
@AlexandriteErikParacelsus It looks like it

[2016-12-08 12:47] firelightning13 commented on #167
@NameYT Get better cpu

[2016-12-08 13:31] t11tanYT commented on #163
@XtremePlayzCODE  yes

[2016-12-08 13:32] t11tanYT commented on #168
good idea

[2016-12-08 15:02] RelTakeover opened #169 "changing cell color depending skin"
@Megabyte918

I've read NatsuTheGreat that said that :

SimonOrJ  said that :

`PLEASE HELP ME !!`

Is similar to the color of the minions,when it detects a minion it changes the color to gray

[2016-12-08 20:37] #166 closed

[2016-12-08 22:04] Megabyte918 commented on #166
Fixed.

[2016-12-08 22:17] Megabyte918 commented on #168
@PrinceDark9243 The extra command are unnecessary because:
For example lets say my mass was 10k, and I want to remove 1k from it. Instead of using `mass 1 r 1000`, I could just do `mass 1 9000` instead, thus removing 1k mass from myself. The same thing applies for `mass 1 a`. Also `mass s` already exists. It's just the regular command.

[2016-12-08 22:17] #168 closed

[2016-12-08 22:26] Megabyte918 commented on #167
@NameYT Performance with minions greatly depends on the starting size. For me, I was able to run 700 minions with the default starting size (32), and I had no lag. Try setting your minion's start size to lower. Also this is not an issue so I'm closing it.

[2016-12-08 22:26] #167 closed

[2016-12-08 22:29] Megabyte918 commented on #169
@RelTakeover The server cannot predict what skin you are going to input and what color will match that skin, so your better off just setting your color manually through command to match the skin that you have.

[2016-12-08 22:29] #169 closed

[2016-12-08 22:34] MastaCoder commented on #168
These ideas sound like Ogar-Unlimited ideas

[2016-12-08 23:06] Gimmo opened #170 "Question on code"
Can't find the point, where I can see event that Cell is completely eaten and see its pid.

Also I need the point (event) where Cell disabled/destroyed by lost connection and see its id and size.

Help please.

[2016-12-08 23:47] Megabyte918 commented on #170
@Gimmo
Cell is completely eaten: [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L917)
See it's pID: [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/modules/CommandList.js#L760)
Cell is destroyed by lost connection: [here](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/PlayerTracker.js#L245)
See cell's size: listed [here]

[2016-12-09 01:37] Gimmo commented on #170
@Megabyte918
Thank you very much, but this is not exactly what I need. Bad english, as always.

Completely eaten cell:  I meant cell and all it's children + pID : I meant to get pID as property in point of removing/destroy.  In the line you point I get separate signal for every part of my cell has been eaten.

The same for lost connection - needed pID and total size or total mass in the point of d

[2016-12-09 02:54] Megabyte918 commented on #170
@Gimmo `cell.isRemoved = true;` in resolveCollision means that something has eaten that specific cell, in your case you should use `this.isRemoved` in PlayerTracker because it defines a player and all of their cells, not just one. And if you want to get the messages in console for more than one player you should be doing it around [this](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/

[2016-12-09 03:37] Gimmo commented on #170
`this.isRemoved = true;` in PlayerTracker is set only on handle disconnection.  It's ok.
But where can I get signal for all eaten for this user? Where is the point, after which command to `"exit without disconnection because all user's Cells die"`  is sent to client?
One message for one event is o.k. , this is exactly what I need.

[2016-12-09 03:51] Gimmo commented on #170
I'll try to glue....

[2016-12-09 04:46] AlexByte918 commented on #139
if you can configure the skins, like to minemoore.uk.tk?

[2016-12-09 05:11] Megabyte918 commented on #170
this.isRemoved is not only used to mark players as disconnected, but it is also used in many places to mark a player as dead or not playing. If using that does not work for you, try adding a check to see if the player has any cells in game or not.

[2016-12-09 05:51] AlexByte918 opened #171 "You are no working, or you never are working with rush mode? (gamemode)"
Im have this dude, or this is the same gamemode to lastmn stanting?

[2016-12-09 07:09] AlexandriteErikParacelsus commented on #163
@firelightning13, I know, I just randomly dropped a "no" in the issue. And xtremecode act all triggered

[2016-12-09 07:10] AlexandriteErikParacelsus commented on #171
Why are you doing this? @AlexByte918

[2016-12-09 07:15] AlexandriteErikParacelsus commented on #152
'playerMaxCells = 500'

[2016-12-09 07:17] AlexandriteErikParacelsus commented on #152
playerMaxCells = 500 @AlexByte918

[2016-12-09 11:15] t11tanYT opened #172 "60 FPS"
please

[2016-12-09 11:27] NameYT commented on #167
@Megabyte918 When i collect pellet mode then it got big and split once the server is lagging is there anyway i can run my server? 25GB

[2016-12-09 11:29] ZfsrGhS953 commented on #172
Node.js is too slow for that. For that, you'll need at least C++, or maybe even Assembly if you want to host a big server.

[2016-12-09 11:58] NameYT commented on #172
@ZfsrGhS953 Do you know how to run the server up to 25gb?

[2016-12-09 12:18] systemroot commented on #167
you can have 32GB or 200GB ram. based on your CPU lag will be the same.
with CPU 4.0GHz overclock 4.4CPU was able to play with 1K minions for some hours without lag or slow time.
with 5K minions for 1-2/H game is slow.
u can see how this https://www.ovh.co.uk/dedicated_servers/details-servers-range-GAME-id-MC-32.xml dedicated server is with 5K minions https://vid.me/vHm1

if you are running a serv

[2016-12-09 12:32] ZfsrGhS953 commented on #172
Does your server reach 1.4GB RAM usage and crash?

[2016-12-09 12:51] cowpits opened #173 "cell color controlling minions"
Hi - I noticed in this new version when you hit Q to control the minions the player cell color doesn't change to Grey. In the older version 1.3.5 it did. Is there a setting for it in 1.4.2?

[2016-12-09 14:08] PsycoYT opened #174 "Issues , please help me."
1)How to make the reaction faster to the mouse?Like agar.io
2)What happens if I edit this number:

`var timeStep = 40;`

3)What happens if I edit this number:

 ` if (dt > 120) this.timeStamp = ts - timeStep;`

4)What happens if I edit this var:

` var ts = Date.now();`

5)How to up the fps?

[2016-12-09 15:56] PheoniXAgario opened #175 "Skin Script"
Hi Megabyte,

I'm using your skin script, and the skin only shows up when i put in regular (keyboard) characters. When i try putting in something like ᑭᕼΣ𐍈Ɲ𐌆✘⚔⚔一ϺƬ♜ the skin doesn't show. Any fix?

-PheoniX

[2016-12-09 16:53] Gimmo commented on #170
I make everything I need. Thank you one more time.
In GameServer.checkCellCollision

`if (cell.owner) {.
     if(cell.owner.cells.length===1)
console.log("user pID "+cell.owner.pID+"completely eaten");
}`

[2016-12-09 16:53] #170 closed

[2016-12-09 17:13] Gimmo commented on #172
@ZfsrGhS953  Do you mean - the server has memory leaks? Wher from '1.4GB RAM' is coming.

[2016-12-09 20:03] ZfsrGhS953 commented on #172
@Gimmo It's the default RAM limit in node.js

[2016-12-09 20:44] #172 closed

[2016-12-09 20:45] Megabyte918 commented on #174
Reactions with the mouse are equal to that of Agar.io, and I suggest not editing those settings if you don't know what your doing.

[2016-12-09 20:45] #174 closed

[2016-12-09 21:04] Megabyte918 commented on #173
@cowpits it was removed a while ago for performance reasons, see this commit: https://github.com/Megabyte918/MultiOgar-Edited/commit/5a067fb882aba14e6fe19a3c65f04bee2af2c10a
If you want it back you can add the code that was removed, I'm not going to be adding it back to the repo because it required a massive amount of code.

[2016-12-09 21:04] #173 closed

[2016-12-09 21:06] Megabyte918 commented on #171
@AlexByte918 Yes it is still being worked on, @Tyler3D started working on it when the original issue was made, I also helped with it a bit, but development has been slowed due to both of us being busy with other things.

[2016-12-09 21:06] #171 closed

[2016-12-09 21:27] CalvinDKL commented on #137
WOrked, but fucked over skins xD
BUT I PATCHED BOTS!!!
for real.
its a script that takes proxies from 600 different free websites.
and bans em.
And also did a thing where i use
ws.close

On Sun, Dec 4, 2016 at 10:50 PM, Megabyte918 <notifications@github.com>
wrote:

[2016-12-09 21:27] Jhair2015 opened #176 "Fix This"
![captura de pantalla 100](https://cloud.githubusercontent.com/assets/18153674/21064976/fccc519a-be2b-11e6-90af-22b2207ff03f.png)
![captura de pantalla 102](https://cloud.githubusercontent.com/assets/18153674/21064978/fcf3fd58-be2b-11e6-92d8-e166c002467c.png)

[2016-12-09 21:37] MineMooreALT commented on #139
I use a completely different thing and it only works for my client
On Fri., 9 Dec. 2016 at 12:46 pm, AlexByte918 <notifications@github.com>
wrote:

[2016-12-09 21:46] MastaCoder commented on #137
What if they use paid proxies..?

[2016-12-09 21:51] MastaCoder commented on #167
Remember it's not always just CPU being affected. If you're trying to load 5k bots many other things come into affect. Some to list:

- Server network speeds
- Server network latency
- Client network speeds
- Client network latency
- Client being used
- How cells are rendered in the client
- How fast the users computer can render them
- Distance from server

And more. Just because you have all the

[2016-12-09 22:21] #137 closed

[2016-12-09 22:26] Megabyte918 commented on #176
Fixed

[2016-12-09 22:26] #176 closed

[2016-12-09 23:21] NameYT commented on #167
@Megabyte918 @MastaCoder I mean how to run the server 32GB i have 1 Terabytes

[2016-12-09 23:35] Megabyte918 commented on #163
As far as I know, there is no way to let the server know which player killed them last after they have spawned again. I also suspect adding such a thing would decrease performance if there are a lot of bots or players constantly spawning after being eaten. Which means you cannot set the player's color after they spawned to the player's color that killed them. Also isn't this how teams mode already

[2016-12-09 23:35] #163 closed

[2016-12-09 23:37] Megabyte918 commented on #167
1 Terabyte of ram...

[2016-12-09 23:41] systemroot commented on #167
i'm thinking he's taking disc as ram!

[2016-12-09 23:41] Megabyte918 commented on #175
I will look into it.

[2016-12-09 23:43] NameYT commented on #175
@Megabyte918 @PheoniXAgario Same Problem...

[2016-12-09 23:43] NameYT commented on #175
@Megabyte918 How did raga.pw made there own game mode and work using the skin :3

[2016-12-09 23:44] NameYT commented on #167
@Megabyte918 Just tell me how to run it lol

[2016-12-09 23:48] Megabyte918 commented on #167
@NameYT Refer to https://github.com/Barbosik/MultiOgar/issues/351

[2016-12-10 00:20] Jhair2015 commented on #176
@Megabyte918  THANKS

[2016-12-10 01:12] Megabyte918 commented on #157
I'm gong to close this for now...

[2016-12-10 01:12] #157 closed

[2016-12-10 01:13] Megabyte918 commented on #160
Nope, still can't get it to happen. Anyone ELSE experiencing the same problem?

[2016-12-10 03:48] AlexandriteErikParacelsus commented on #175
@NameYT Is it agar client clone or agario client?

[2016-12-10 05:08] Megabyte918 commented on #68
Would you like it to have mobile physics as well or just keep the current ones?

[2016-12-10 06:22] AlexByte918 opened #177 "HOW TO MAKE A MERGE SERVER?"

[2016-12-10 06:40] NameYT commented on #175
@AlexandriteErikParacelsus Agario cilent

[2016-12-10 06:45] Jhair2015 commented on #177
Like alis.io

playerMaxSize = 1500
playerMinSplitSize = 80
playerStartSize = 250
playerMaxCells = 100
playerSpeed = 1
playerDecayRate = .002
playerRecombineTime = 0
playerMaxNickLength = 15
playerDisconnectTime = 60

[2016-12-10 10:42] NameYT commented on #175
@Megabyte918 FIX THIS PLZ

[2016-12-10 11:49] CalvinDKL commented on #137
Paid proxies, then the bots still wont work. They cant connect.
But if they find a way around it with paid proxies then like 1 in 100 uses
em.

On Fri, Dec 9, 2016 at 11:21 PM, Megabyte918 <notifications@github.com>
wrote:

[2016-12-10 15:15] Gimmo commented on #137
Easy way is to detect header "X-Forwarded-For" and block connection. No proxies- no problems. :)

[2016-12-10 15:43] PheoniXAgario commented on #175
Guys, @Megabyte918 is looking into it, stop pestering him with redundant messages

[2016-12-10 15:56] CalvinDKL opened #178 "Issue server crash."
Hello! so i am getting an issue were my server crashes.

Here is what it says
![error](https://cloud.githubusercontent.com/assets/23283642/21074441/889b253e-bef9-11e6-9a45-5e3cb16253f8.png)

And is there a way i can make it automatically start if the server crashes??

[2016-12-10 15:57] MastaCoder commented on #137
@Gimmo Headers can be changed REALLY easily.
@CalvinDKL You're method won't work. If they can find proxies that you don't know about than you have a problem.

Just banning IP's won't work. You'll need to actively be banning all their IP's for it to work. Really the only way to ban them is if we can find some sort of method to block bot connections. This is one of the main drawbacks of open source

[2016-12-10 15:59] MastaCoder commented on #178
If it's Linux, use the restart script:

[code]

[2016-12-10 16:00] MastaCoder commented on #68
Not mobile physics please 😭

[2016-12-10 16:19] CalvinDKL commented on #178
Masta, sorry i dont really understand the code. So i have no idea on how to use it.
Can you explain please?

[2016-12-10 16:23] MastaCoder commented on #178
Put that into a .sh file. Replace the comment in the do - done loop of how your server runs. "node index.js" or whatever. Put the .sh file in the directory of where it's going to run, go back to it and run it by typing in sh name.sh

[2016-12-10 16:32] CalvinDKL commented on #178
Wait so i need to run my server through that file??

[2016-12-10 16:38] CalvinDKL commented on #178
And i dont need a restart script, i need a script that opens the server if it crashes.

[2016-12-10 16:38] CalvinDKL commented on #178
Wait nvm, does it automatically start if the server crashes??
xD

[2016-12-10 17:15] MastaCoder commented on #178
Yeah

[2016-12-10 18:10] Gimmo commented on #178
Looks like noone knows that it's simple error in code.
@Megabyte918  - please add check `typeof split !== undefined` in GameServer:1571

[2016-12-10 18:53] Gimmo commented on #160
[![1.png](https://s18.postimg.org/5hvrt041l/image.png)](https://postimg.org/image/4sczgn3hx/)
[![2.png](https://s28.postimg.org/wu9fo3b3x/image.png)](https://postimg.org/image/qtbqr0ohl/)

[2016-12-10 19:10] Jhair2015 commented on #160
Alis.io client has been delete border's...

[2016-12-10 19:15] Gimmo commented on #160
Sorry, I don't understand what you talking about.

[2016-12-10 19:20] CalvinDKL commented on #178
Masta, it still doesnt work :/

and error comes up when i run it with this    sh runnocrash.sh

![66334a76ba90307f5d040c88b65d0466](https://cloud.githubusercontent.com/assets/23283642/21075583/1211d59e-bf16-11e6-9956-aed80ab846a1.png)

and this is code i put in
`#/bin/bash
clear

while true
do
  node index.js
  done`

[2016-12-10 19:22] CalvinDKL commented on #178
And i put the .sh file in the src folder by the index.js

[2016-12-10 19:45] MastaCoder commented on #178
I don't know why it does that sometimes. Are you sure you put in tabs?

[2016-12-10 19:48] MastaCoder commented on #160
I don't get what you're trying to show in those screenshots @Gimmo

[2016-12-10 19:53] CalvinDKL commented on #178
in tabs? on my vps i just put it in the src folder where the index.js is and ran it.

[2016-12-10 19:54] Gimmo commented on #160
Wrong thread...... :(  Try to move to correct place.

[2016-12-10 20:13] AlexandriteErikParacelsus commented on #177
@Jhair2015 maxCells is 64 not 100

[2016-12-10 20:13] #177 closed

[2016-12-10 20:39] Jhair2015 commented on #177
@AlexandriteErikParacelsus  Oh, well I'll give you 100: p

[2016-12-10 21:54] AlexandriteErikParacelsus commented on #175
@PheoniXAgario are you sure?

[2016-12-11 00:39] PsycoYT opened #179 "Splits"
Can they make the splits more like agario?

Even in gota.io they are more like agar.io!!(more than multiogar)

Of what they really ought to be concerned, is in the form of divisions, which are the same as agar.io.
Because even if they say they are the same, they really ARE NOT

There is something called "splitrunning realtime", it consists of giving spaces with your team without stopping, this can

[2016-12-11 00:50] PsycoYT opened #180 "Create skin changer"
Please add skin changer feature

[2016-12-11 00:54] PsycoYT opened #181 "Add "othersclientsaccess""
.

[2016-12-11 01:06] #181 closed

[2016-12-11 01:58] Jhair2015 commented on #179
@PsycoYT  I do splitrunning well with MultihOgar Edit

[2016-12-11 03:45] RelTakeover commented on #179
not same splitrunning that agar.io @Jhair2015

[2016-12-11 03:47] MastaCoder commented on #180
NO. NO OGARUL STOP IT. YOU STOP RIGHT THERE.

[2016-12-11 03:47] MastaCoder commented on #178
No I meant indents in the sh file.

[2016-12-11 06:08] AlexandriteErikParacelsus commented on #180
![b n v khong co tieu d](https://cloud.githubusercontent.com/assets/17348976/21078467/140feba6-bf25-11e6-9041-ba11ff278ba2.png)
@MastaCoder

[2016-12-11 06:09] AlexandriteErikParacelsus commented on #179
gota splitting is not accurate as multiogar edited

[2016-12-11 06:10] NameYT opened #182 "How to Make 1000 BOTS GO IN PELLET MODE!!"
Some bots doesn't go on pellet mode help!!

[2016-12-11 06:23] t11tanYT commented on #182
same problem

[2016-12-11 06:54] Megabyte918 commented on #178
@CalvinDKL It looks like you are using an outdated version, this bug was fixed long ago.

[2016-12-11 06:55] Megabyte918 commented on #180
nah.

[2016-12-11 06:55] #180 closed

[2016-12-11 06:57] Megabyte918 commented on #182
@NameYT #144

[2016-12-11 06:57] #182 closed

[2016-12-11 06:59] Megabyte918 commented on #179
It looks vanilla to me, I've compared the splitting to spectate in party mode and I don't think there is any difference.

[2016-12-11 07:34] Vvrrick commented on #179
@Megabyte918 I think you should make the splits smoother. The vanilla physics are chunky. Not sure if you understand what I mean, but if you have the desire to, you should make the splits smoother like ogar-unlimited. Not as soft but smooth. Btw is there any way to replace the server split physics with the physics of agarplus? I have a working version of a+ that uses the old protocol that only wor

[2016-12-11 08:11] NameYT commented on #175
@Megabyte918 Fix This problem pls

[2016-12-11 09:33] ZfsrGhS953 commented on #179
OgarUL-like splitting:
In [these lines](https://github.com/Megabyte918/MultiOgar-Edited/blob/master/src/GameServer.js#L873-L874) change "1" in them to "0.2"

[2016-12-11 09:42] Megabyte918 commented on #179
This is splitrunning I captured in vanilla spectate in party mode:
https://streamable.com/ozv1

This is splitrunning on MultiOgar-Edited:
https://streamable.com/j39d

[2016-12-11 09:45] ZfsrGhS953 commented on #179
They look almost the same.

[2016-12-11 09:59] Megabyte918 commented on #179
That's what I thought.. I don't know what the problem with it is

[2016-12-11 09:59] ZfsrGhS953 commented on #179
They want splitting to be like Ogar Unlimited

[2016-12-11 10:26] ZfsrGhS953 commented on #179
This is my attempt at making gota.io-like splitting:
[code]
You'll also have to make cells be able to collide before 14 ticks have passed for it to work correctly (I don't think you'll have any problems with that)

[2016-12-11 11:33] Megabyte918 commented on #179
@ZfsrGhS953 nice!. While your at it, do you know how to do anything about the cell switching when you doublesplit? I have no idea how to get rid of it...

Also, the splitting in Gota.io looks too slow/snappy if you ask me. If it was on the vanilla client then it would be more noticable.

[2016-12-11 11:38] ZfsrGhS953 commented on #179
Try using the OgarUL splitting code, but with 10 iterations. Because with OgarUL splitting cells move slower when colliding, they shouldn't pass through themselves. And 10 iterations are needed for fast splitting.